/* CORES
  #485A5C
  #97BEC2
  #ABD4DB
  #B5E4E8
  #BFF0F5
  */

html, body {
  height: 100%;
  width: 100%;
}

html {
  margin: 5rem 0 0;
}

body {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-item .nav-link {
  /* border-radius: 8px; */
  margin: 0;
}

 .form-floating path {
  color: lightgray !important;
 }

.nav-tabs .nav-link {
  color: black;
}

.nav-link:hover {
  background: rgba(0, 0, 0, .05);   
}

.menuMobile .nav-link:hover {
  border-radius: 8px;
}

h4 {
  font-weight: bold;  
  margin: 0;
  padding: 0;
}

main {
  height: 85%;
}

h1 {
  border: none;
}

.logoHeader {
  height: 48px;
  width: auto;
}

section {    
  margin: 0px auto;
  padding: 0 0;
}

.sectionHome{
  height: 864px;
}

.sectionCreateRequest {
  background: #dbdbdb;  
  width: 70%; /* 70% do body */
  height: 864px; /* 85% do body */  
}

.sectionConsultRequests {
  padding: 20px;
  width: 70%; /* 70% do body */
  height: 864px; /* 85% do body */  
}
.sectionEditLayout {
  height: 864px; /* 85% do body */  
}

/* .row-2,  
.row-3,
.row-4,
.row-5 {
  background: white;
  padding: 8px;
} */

.wrapper_editLayout { 
  width: 70%;
  display:grid;
  grid-template-columns:2fr 1fr;
  gap: 40px;
  height: 90%;
  padding: 20px;
  margin: 0 auto;
}

.edit_slot_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.monitor,
.computador,
.teclado,
.mouse label {
  margin: 0 0 1rem;
}

.tab-content {
  padding: 20px;
}

/* .fade {
  padding: 20px;
} */

/* .edit_layout{
  background-color: yellow;
} */


.edit_layout {
  background: #f5f5f5;
  height: 100%;
  padding: 8px;
  border-radius: 8px;
}

.info_layout{
  background-color: #f5f5f5;
  border-radius: 8px;
}

.form_wrapper {
  height: 100%;
  padding: 0;
  margin: 0;
}

.steps {
  display: flex;
  align-items: center;
  height: 100%;
  width: 70%; /* 70% do section */
  margin: 0px auto;
  padding: 0;
}

.formEmail {
  display: grid;
  grid-template-rows: 15% 70% 15%; 
  height: 100%; /* 100% do section */
  width: 70%; /* 70% do section */
  margin: 0px auto;
  padding: 0;
}

.form {
  height: 100%;
  width: 70%; /* 70% do formEmail */
  margin: 0 auto;
  padding: 20px;
}

.form h4 {
  text-align: center;
}

.form_1.data_info,
.form_2.data_info,
.form_3.data_info,
.form_4.data_info {
  height: 100%;
  width: 100%; /* 100% do content */
  margin: 0;
  padding: 0;
}

.roomChoice {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.requiredField,
.subtitleRequiredField {
  color: red;
}

.subtitleRequiredField {
  font-size: medium;
  text-align: end;
}

.success {
  text-align: center;
}

.success img{
  height: auto;
  width: 15%;
}

.buttons {
  display: flex;
  align-items: center;
  height: 100%;
  width: 70%; /* 70% do formEmail */
  margin: 0 auto;
  padding: 0;
}

.buttons_wrapper {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0 20px;
}

footer {
  background: #485a5c;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  padding: 0px 20px;
}

.logoFooter {
  height: 50%;
  width: auto;
  margin-left: 18%;
}

/* Posicionamento steps */
.steps_wrapper {
  height: 40px;
  margin: 0 auto;
  padding: 0;
}

/* Quebra linha steps */
.steps_wrapper ul {
  display: flex;
  list-style: none;
}

/* Distanciamento steps */
.form_1_progressbar{
  margin-right: 50px;
  position: relative;
}

.form_2_progressbar{
  margin-right: 50px;
  position: relative;
}

.form_3_progressbar{
  margin-right: 50px;
  position: relative;
}

.form_4_progressbar{
  margin-right: 0px;
  position: relative;
}

/* Criação linhas das */
.steps_wrapper ul li:before {
  content: "";
  position: absolute;
  top: 35%;
  left: 40px;
  width: 70px;
  height: 4px;
  background: #abd7db;
}

/* Limite steps */
.steps_wrapper ul li:last-child:before {
  display: none;
}

/* Encaixe steps */
.steps_wrapper ul li div {
  border-radius: 50%;
}

/* Custumização steps */
.steps_wrapper ul li p {
  width: 40px;
  height: 40px;
  background: #abd7db;
  color: black;
  text-align: center;
  line-height: 220%;
  border-radius: 50%;
}

/* Cor steps (linhas) */
.steps_wrapper ul li.active:before {
  background: #708688;
}

/* Cor steps (bolas) */
.steps_wrapper ul li.active p {
  background: #708688;
}

.layout_computers {  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;
  height: 72%; /* 72% do form_2 data_info */
  width: 100%;
  border-radius: 6px;
  margin: auto 0;
  padding: 0;
}

.leftSide,
.rightSide {  
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 5%;
  border-radius: 6px;
  margin: 0;
  padding: 0;
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2%;
  border-radius: 6px;
}

.computerSlot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 6px;
  min-height: 100%;
}

/* Label dos computadores (dentro tem 'a' e o 'svg') */
.computerLabel {
  font-size: 1.6vh;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.computerLabel a {
  display: block;
  height: auto;
  width: 80%;
  margin: 0 auto;
  padding: 0;  
}

.computerLabel svg{
  height: auto;
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

.prof,
.porta {
  height: auto;
  width: 100%;
  margin: auto;
  padding: 0;
}

textarea {
  resize: none;
}

/* Posicionamento botões */
.common_btns {
  display: flex;  
}

/* Posicionamento botões pg2 e pg3 */
.common_btns.form_2_btns,
.common_btns.form_3_btns {
  justify-content: space-between;
}

/* Posicionamento botões pg1 e pg4 */
.common_btns.form_1_btns,
.common_btns.form_4_btns {
  justify-content: flex-end;
}

/* Customização do botão */
.common_btns button {  
  /* background: #bff0f5; */
  color: black;
  border-radius: 10px;
  width: 150px;
  justify-content: center;
  border: 0;
  padding: 10px;
}

/* Customização imagem home */
.img_home {
  height: 100%;
  width: 100%;
  display: flex;
  align-items:center;
}

.img_home img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  filter: sepia(20%) grayscale(20%);
}

/* Posicionamento botão home */
.btn_home {
  display: flex;
  justify-content: center;
}

.btn_home button {  
  position: relative;
  top: -18rem;
  width: 200px;
}

.textReport {
  color: white;
  position: relative;
  top: -18rem;
  text-align: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}

.btnDeleteRequest {
  height: 28px !important;
  padding: 0 5px 0 !important;
}

.alertDeleteRequest {
  margin-top: 20px;
}

.capa_wrapper {
  height: 100%;
}


/* faq */
.sectionFaq{
  display: flex;
  height: 100%;
}

.contentFaq{
  width: 100%; height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.informscontentFaq{
  width: 85%; height: 85%;
  padding-top: 10%;
}


.titlesearchFaq{
  width: 100%; height: auto;
  margin-bottom: 20px;
}

.searchinputFaq{
  height: 80px;
  background: #e6e6e6;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputFaq{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  background: 0;
  outline: 0;
  border: none;
  padding-left: 30px;
  width: 1500px;
  text-decoration: none;
}

.loupeFaq{
  margin-right: 40px;
}

.informsFaq{
  width: 80%; height: 80%;
  padding-top: 7%;
  display: flexbox;
  justify-content: center;
}

.titleFaq{
  margin-bottom: 50px;
  margin-left: 25%;
  width: auto; height: auto;
}

.solucionFaq{
  height: auto; width: 50%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  margin-left: 25%;
}

.informsmodemFaq{
  width: 80%; height: 80%;
  display: flexbox;
  justify-content: center;
}









.navbarWrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav {
  width: 70%;
}

.menuMobile {
  padding: 0 1rem;
}

.btnDesktop {
  display: block;
}

.btnMobile {
  display: none;
}

.container-fluid {
  padding: 0.5rem 0;
}

@media(max-width: 991px) {
  nav {
    width: 100%;
  }
  .menuMobile {
    padding: 0;
  }
  .navbar-nav .nav-item .nav-link {
    padding: 0.5rem 0;   
    margin: 0;               
  }
  .navbar-nav {
    width: 80%;
    margin: 0 auto;
  }
  .dropdown-item {
    padding: 0.5rem 1rem;
  }
  .navbar img, button {
    margin: 0.5rem 1rem;
  }  
  .btnDesktop {
    display: none;
  }
  .btnMobile {
    display: block;
  }
}


@media(max-width: 450px) { 

  .edit_layout h4 {
    text-align: center;
  }

  #nav.active #hamburguer:before {
    transform: rotate(135deg);
  }

  #nav.active #hamburguer::after{
    transform: rotate(-135deg);
    top: -7px;
  }

  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #97BEC2;
    height: 0px;
    transition: .6s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid black;
  }

  .sectionHome {
    height: 95%;
  }

  .sectionCreateRequest {
    background: #dbdbdb; 
    width: 100%;
    height: fit-content;
  }

  .form{
    width: 100% !important;
  }

  .formEmail {
    display: grid;
    grid-template-rows: 10% 40% 10%; 
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .steps {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .steps_wrapper{
    margin: 0px;
  }

  ul {
    padding: 0px;
    margin: 0px;
  }

  .roomChoice {
    gap: 10%;
  }

  .buttons{
    width: 100%;
    margin-top: 150px;
  }

  
  
  



  .wrapper_editLayout { 
    width: 100%;
    display:block;
    height: 35vh;
    padding: 20px;
    margin: 0 auto;
  }
  .edit_layout {
    margin-bottom: 1rem;
  }

  
}

