html, body {
  height: 100%;
  width: 100%;
}

body {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;      
}

h4 {
  font-weight: bold;  
  margin: 0;
  padding: 0;
}

header {
  background: #97BEC2;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  width: 100%;
  margin: 0;
  padding: 0px 30px;
}

.logoHeader {
  height: 50%;
  width: auto;
}

section {
  background: #dbdbdb;  
  display: grid;
  grid-template-rows: 10% 90%;
  height: 85%; /* 85% do body */
  width: 70%; /* 70% do body */
  margin: 0px auto;
  padding: 0;
}

.steps {
  display: flex;
  align-items: center;
  height: 100%;
  width: 70%; /* 70% do section */
  margin: 0px auto;
  padding: 0;
}

.formEmail {
  display: grid;
  grid-template-rows: 83% 17%; 
  height: 100%;
  width: 70%; /* 70% do section */
  margin: 0px auto;
  padding: 0;
}

.content {
  height: 100%;
  width: 70%; /* 70% do formEmail */
  margin: 0 auto;
  padding: 5% 5% 0;
}

.content h4 {
  text-align: center;
}

.form_1.data_info,
.form_2.data_info,
.form_3.data_info,
.form_4.data_info {
  height: 100%;
  width: 100%; /* 100% do content */
  margin: 0;
  padding: 0;
}

.success {
  text-align: center;
}

.success img{
  height: auto;
  width: 15%;
}

.buttons {
  display: flex;
  align-items: center;
  height: 100%;
  width: 70%; /* 70% do formEmail */
  margin: 0 auto;
  padding: 0 5%;
}

.buttons_wrapper {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

footer {
  background: #485a5c;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  padding: 0px 30px;
}

.logoFooter {
  height: 50%;
  width: auto;
}

.divFooter h4 {
  color: white;
}

.linksFooter a {
  display: block;
  text-decoration: none;
  color: white;
}

.linksFooter a:hover {
  color: white;
}

/* Posicionamento steps */
.steps_wrapper {
  height: 40px;
  margin: 0 auto;
  padding: 0;
}

/* Quebra linha steps */
.steps_wrapper ul {
  display: flex;
  list-style: none;
}

/* Distanciamento steps */
.steps_wrapper ul li {
  margin-right: 50px;
  position: relative;
}

/* Criação linhas das */
.steps_wrapper ul li:before {
  content: "";
  position: absolute;
  top: 35%;
  left: 40px;
  width: 70px;
  height: 4px;
  background: #abd7db;
}

/* Limite steps */
.steps_wrapper ul li:last-child:before {
  display: none;
}

/* Encaixe steps */
.steps_wrapper ul li div {
  border-radius: 50%;
}

/* Custumização steps */
.steps_wrapper ul li p {
  width: 40px;
  height: 40px;
  background: #abd7db;
  color: black;
  text-align: center;
  line-height: 220%;
  border-radius: 50%;
}

/* Cor steps (linhas) */
.steps_wrapper ul li.active:before {
  background: #708688;
}

/* Cor steps (bolas) */
.steps_wrapper ul li.active p {
  background: #708688;
}

.layout_computers {  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;
  height: 72%; /* 72% do form_2 data_info */
  width: 100%;
  border-radius: 6px;
  margin: auto 0;
  padding: 0;
}

.left_side,
.right_side {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 2%;
  row-gap: 5%;
  border-radius: 6px;
  margin: 0;
  padding: 0;
}

.computerSlot {
  display: flex;  
  align-items: center;
  border-radius: 6px;
  min-height: 100%;
}

/* Label dos computadores (dentro tem 'a' e o 'svg') */
.btn { 
  font-size: 1.6vh;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.btn a {
  display: block;
  height: auto;
  width: 80%;
  margin: 0 auto;
  padding: 0;  
}

.btn svg{
  height: auto;
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

.porta {
  height: auto;
  width: 100%;
  margin: auto auto;
  padding: 0;
}

textarea {
  resize: none;
}

/* Posicionamento botões */
.common_btns {
  display: flex;  
}

/* Posicionamento botões pg2 e pg3 */
.common_btns.form_2_btns,
.common_btns.form_3_btns {
  justify-content: space-between;
}

/* Posicionamento botões pg1 e pg4 */
.common_btns.form_1_btns,
.common_btns.form_4_btns {
  justify-content: flex-end;
}

/* Customização do botão */
.common_btns button {  
  /* background: #bff0f5; */
  color: black;
  border-radius: 10px;
  width: 150px;
  justify-content: center;
  border: 0;
  padding: 10px;
}

/* Customização do botão */
.common_btns button.btn_back {  
  background: #97BEC2;
}

/* Customização do botão */
.common_btns button.btn_next,
.common_btns button.btn_done {  
  background: #b5e4e8;
}

/* Cor ao selecionar botão */
.common_btns button.btn_next:hover,
.common_btns button.btn_back:hover,
.common_btns button.btn_done:hover {
  background: #708688;
}