html, body {
  height: 100%;
  width: 100%;
}

body {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;      
  padding: 80px 0 0 0;
  margin: 0;
}

h4 {
  font-weight: bold;  
  margin: 0;
  padding: 0;
}

main {
  height: 85%;
}

header {
  background: #97BEC2;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  margin: 0;
  padding: 0 30px;
  z-index: 9999;
}

.logoHeader {
  height: 48px;
  width: auto;
}

header nav {
  height: 48px;
  width: auto;
}

section {  
  height: 864px; /* 85% do body */  
  margin: 0px auto;
  padding: 0 0;
}

.sectionCreateRequest {
  background: #dbdbdb;  
  width: 70%; /* 70% do body */
}

.sectionConsultRequest {
  padding: 20px;
  width: 70%; /* 70% do body */
}

.form_wrapper {
  height: 100%;
  padding: 0;
  margin: 0;
}

.steps {
  display: flex;
  align-items: center;
  height: 100%;
  width: 70%; /* 70% do section */
  margin: 0px auto;
  padding: 0;
}

.formEmail {
  display: grid;
  grid-template-rows: 15% 70% 15%; 
  height: 100%; /* 100% do section */
  width: 70%; /* 70% do section */
  margin: 0px auto;
  padding: 0;
}

.form {
  height: 100%;
  width: 70%; /* 70% do formEmail */
  margin: 0 auto;
  padding: 20px;
}

.form h4 {
  text-align: center;
}

.form_1.data_info,
.form_2.data_info,
.form_3.data_info,
.form_4.data_info {
  height: 100%;
  width: 100%; /* 100% do content */
  margin: 0;
  padding: 0;
}

.roomChoice {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.requiredField,
.subtitleRequiredField {
  color: red;
}

.subtitleRequiredField {
  font-size: medium;
  text-align: end;
}

.success {
  text-align: center;
}

.success img{
  height: auto;
  width: 15%;
}

.buttons {
  display: flex;
  align-items: center;
  height: 100%;
  width: 70%; /* 70% do formEmail */
  margin: 0 auto;
  padding: 0;
}

.buttons_wrapper {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0 20px;
}

footer {
  background: #485a5c;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  padding: 0px 20px;
}

.logoFooter {
  height: 50%;
  width: auto;
}

.divFooter h4 {
  color: white;
}

.linksFooter a {
  display: block;
  text-decoration: none;
  color: white;
}

.linksFooter a:hover {
  color: white;
}

/* Posicionamento steps */
.steps_wrapper {
  height: 40px;
  margin: 0 auto;
  padding: 0;
}

/* Quebra linha steps */
.steps_wrapper ul {
  display: flex;
  list-style: none;
}

/* Distanciamento steps */
.steps_wrapper ul li {
  margin-right: 50px;
  position: relative;
}

/* Criação linhas das */
.steps_wrapper ul li:before {
  content: "";
  position: absolute;
  top: 35%;
  left: 40px;
  width: 70px;
  height: 4px;
  background: #abd7db;
}

/* Limite steps */
.steps_wrapper ul li:last-child:before {
  display: none;
}

/* Encaixe steps */
.steps_wrapper ul li div {
  border-radius: 50%;
}

/* Custumização steps */
.steps_wrapper ul li p {
  width: 40px;
  height: 40px;
  background: #abd7db;
  color: black;
  text-align: center;
  line-height: 220%;
  border-radius: 50%;
}

/* Cor steps (linhas) */
.steps_wrapper ul li.active:before {
  background: #708688;
}

/* Cor steps (bolas) */
.steps_wrapper ul li.active p {
  background: #708688;
}

.layout_computers {  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;
  height: 72%; /* 72% do form_2 data_info */
  width: 100%;
  border-radius: 6px;
  margin: auto 0;
  padding: 0;
}

.leftSide,
.rightSide {  
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 5%;
  border-radius: 6px;
  margin: 0;
  padding: 0;
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2%;
  border-radius: 6px;
}

.computerSlot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 6px;
  min-height: 100%;
}

/* Label dos computadores (dentro tem 'a' e o 'svg') */
.computerLabel {
  font-size: 1.6vh;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.computerLabel a {
  display: block;
  height: auto;
  width: 80%;
  margin: 0 auto;
  padding: 0;  
}

.computerLabel svg{
  height: auto;
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

.prof,
.porta {
  height: auto;
  width: 100%;
  margin: auto;
  padding: 0;
}

textarea {
  resize: none;
}

/* Posicionamento botões */
.common_btns {
  display: flex;  
}

/* Posicionamento botões pg2 e pg3 */
.common_btns.form_2_btns,
.common_btns.form_3_btns {
  justify-content: space-between;
}

/* Posicionamento botões pg1 e pg4 */
.common_btns.form_1_btns,
.common_btns.form_4_btns {
  justify-content: flex-end;
}

/* Customização do botão */
.common_btns button {  
  /* background: #bff0f5; */
  color: black;
  border-radius: 10px;
  width: 150px;
  justify-content: center;
  border: 0;
  padding: 10px;
}

/* Customização do botão */
.common_btns button.btn_back {  
  background: #97BEC2;
}

/* Customização do botão */
.common_btns button.btn_next,
.common_btns button.btn_done {  
  background: #b5e4e8;
}

/* Cor ao selecionar botão */
.common_btns button.btn_next:hover,
.common_btns button.btn_back:hover,
.common_btns button.btn_done:hover {
  background: #708688;
}

/* Customização imagem home */
.img_home {
  height: 100%;
  width: 100%;
  display: flex;
  align-items:center;
}

.img_home img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  filter: sepia(20%) grayscale(20%);
}

/* Posicionamento botão home */
.btn_home {
  display: flex;
  justify-content: center;
}

.btn_home button {  
  position: relative;
  top: -18rem;
  width: 200px;
}

.textReport {
  color: white;
  position: relative;
  top: -18rem;
  text-align: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}

.btnDeleteRequest {
  height: 28px !important;
  padding: 0 5px 0 !important;
}

.alertDeleteRequest {
  margin-top: 20px;
}

.capa_wrapper {
  height: 100%;
}

/* .sectionsignin{
  display: flex;
  justify-content: center;
}

#designsignin{
  background: #83a6aa;
  height: 700px; width: 600px;
  display: flex; align-items: center; justify-content: center; position: relative;
  top: 35px;
  border-radius: 25px;
  box-shadow: 30px -16px 5px teal;
  margin-top: 50px;
}

#conect{
  display: flex;
  font-size: 1.7rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
  justify-content: center;
  margin-bottom: 90px; margin-top: 100px;
}

#informsignin{
  height: 700px; width: 500px;
  border-radius: 25px; 
}

.mb-3 {
  margin-bottom: 4rem!important;
}

.btn-lg{
  height: 60px; width: 250px;
}

#btnsignin{
  display: flex; justify-content: center;
} */

.sectionSignIn {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  width: 70%;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}