@charset "UTF-8"; /* puxando compatibilidade com o padrão UTF-8, vai suportar acentuação*/

body {
    background: gray;
    max-width: 500px;   /* delimitando o tamanho da página */
    margin: 0px auto;
    padding: 0px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: green;  
    height: 120px;
    margin: 0px;
    padding: 0px 20px;
  }
  
  header ul {
    list-style: none;
  }
  
  .menu {
    display: flex;
  }
  
  .menu li {
    margin-left: 10px;
  }
  
  .menu li a {
    display: block;
    margin: auto;
    padding: 5px;
  }
  
  
  content {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: red;
    height: 480px;
    margin: 0px;
    padding: 0px 20px;
  }
  
  .lista1 {
    display: block;
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: yellow;  
    height: 120px;
    margin: 0px;
    padding: 0px 20px;
  }