{% extends 'base.html' %}
{% block title %} Histórico de solicitações {% endblock %}
{% block conteudo %}    
        <section class="sectionConsultRequests">
                    <div class="table-responsive">
                        {% for issue in issue_history %}
                            <div class="card {{issue['id']}}">
                                <section class="chamados">
                                    <div class="protocolo">Protocolo: {{ issue['id'] }}</div>
                                    <p class="itens">Data: {{ issue['created'] }} </p>
                                    <p class="itens">Nome: {{ issue['names'] }}</p>
                                    <p class="itens">E-mail: {{ issue['mails'] }}</p>
                                    <p class="itens">Piso: {{ issue['floors'] }}</p>
                                    <p class="itens">Sala: {{ issue['rooms'] }}</p>
                                    <p class="itens">Computador: {{ issue['pcs'] }}</p>
                                    <p class="itens">Assunto: {{ issue['subjects'] }}</p>
                                    <p class="itens">Descrição: {{ issue['descriptions'] }}</p>
                                
                                    <form action="{{ url_for('delete_request', id=issue['id']) }}" method="post">
                                        <button type="submit" class="btn btn-outline-danger btnDeleteRequest" onclick="return confirm('Clique em OK se você tem certeza que quer deletar essa solicitação.')">
                                            Deletar
                                        </button>
                                    </form>
                                </section>    
                            </div>
                        {% endfor %}
                    </div>
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-danger alertDeleteRequest" role="alert">
                        {{ message }}
                    </div>
            {% endfor %}  
        </section>
{% endblock %}