{% extends 'base.html' %}
{% block conteudo %}
<div class="steps"> <!-- ETAPAS DO PROCESSO -->
  <div class="steps_wrapper">
    <ul> <!-- LISTA DE ETAPAS -->
      <li class="form_1_progessbar active"> <!-- ETAPA 1 -->
        <div>
          <p><strong>1</strong></p>
        </div>          
      </li>
      <li class="form_2_progessbar"> <!-- ETAPA 2 -->
        <div>
          <p><strong>2</strong></p>
        </div> 
      </li>
      <li class="form_3_progessbar"> <!-- ETAPA 3 -->
        <div>
          <p><strong>3</strong></p>
        </div> 
      </li>
      <li class="form_4_progessbar"> <!-- ETAPA 4 -->
        <div>
          <p><strong>4</strong></p>
        </div>
      </li>
    </ul>
  </div>
</div>
<form action="/" method="POST" class="formEmail" id="formEmail"> <!-- FORMULÁRIO DE SUPORTE -->
  <div class="content"> <!-- CONTEÚDOS DO FORMULÁRIO -->
    <div class="form_1 data_info"> <!-- CONTEÚDO DA PÁGINA 1 -->
      <h4>INSIRA SEUS DADOS:</h4>
      <br>
      <div class="name"> <!-- NOME -->        
        <label for="c1_name" class="form-label">Nome:</label>
        <input class="form-control" placeholder="Digite seu nome aqui" id="c1_name"> <!-- ÁREA PARA DIGITAR O NOME DO USUÁRIO -->
      </div>
      <br>
      <div class="email"> <!-- E-MAIL -->        
        <label for="c1_email" class="form-label">E-mail:</label>
        <input class="form-control" type ="email" placeholder="Digite seu e-mail aqui" id="c1_email"> <!-- ÁREA PARA DIGITAR O E-MAIL DO USUÁRIO -->
      </div>
    </div>
    <div class="form_2 data_info" style="display: none;"> <!-- CONTEÚDO DA PÁGINA 2 -->
      <h4>ESCOLHA A MÁQUINA COM PROBLEMA:</h4>
      <br>
      <div class="layout_computers" role="group" aria-label="Basic radio toggle button group"> <!-- LAYOUT DOS COMPUTADORES -->
        <div class="leftSide"> <!-- COMPUTADORES DO LADO ESQUERDO -->
          <div class="computerSlot slotLeftSide firstRow tenthColumn slot_1x10"> <!-- 1ª LINHA - 10ª COLUNA --- SLOT VAZIO -->            
          </div> 
          <div class="computerSlot slotLeftSide firstRow ninthColumn slot_1x9"> <!-- 1ª LINHA - 9ª COLUNA --- SLOT VAZIO -->            
          </div> 
          <div class="computerSlot slotLeftSide firstRow eighthColumn slot_1x8"> <!-- 1ª LINHA - 8ª COLUNA --- SLOT VAZIO -->            
          </div> 
          <div class="computerSlot slotLeftSide firstRow seventhColumn slot_1x7"> <!-- 1ª LINHA - 7ª COLUNA --- SLOT VAZIO -->            
          </div> 
          <div class="computerSlot slotLeftSide firstRow sixthColumn slot_1x6"> <!-- 1ª LINHA - 6ª COLUNA --- COMPUTADOR DO(A) PROFESSOR(A) -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computadorprof" autocomplete="off" value="Professor">
            <label class="btn btn-outline-dark" for="computadorprof"><a>Prof.</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div> 
          <div class="computerSlot slotLeftSide secondRow tenthColumn slot_2x10"> <!-- 2ª LINHA - 10ª COLUNA --- COMPUTADOR 10 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador10" autocomplete="off" value="10">
            <label class="btn btn-outline-dark" for="computador10"><a>10</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div>  
          <div class="computerSlot slotLeftSide secondRow ninthColumn slot_2x9"> <!-- 2ª LINHA - 9ª COLUNA --- COMPUTADOR 09 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador09" autocomplete="off" value="09">
            <label class="btn btn-outline-dark" for="computador09"><a>09</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div> 
          <div class="computerSlot slotLeftSide secondRow eighthColumn slot_2x8"> <!-- 2ª LINHA - 8ª COLUNA --- COMPUTADOR 08 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador08" autocomplete="off" value="08">
            <label class="btn btn-outline-dark" for="computador08"><a>08</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div> 
          <div class="computerSlot slotLeftSide secondRow seventhColumn slot_2x7"> <!-- 2ª LINHA - 7ª COLUNA --- COMPUTADOR 07 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador07" autocomplete="off" value="07">
            <label class="btn btn-outline-dark" for="computador07"><a>07</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div> 
          <div class="computerSlot slotLeftSide secondRow sixthColumn slot_2x6"> <!-- 2ª LINHA - 6ª COLUNA --- COMPUTADOR 06 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador06" autocomplete="off" value="06">
            <label class="btn btn-outline-dark" for="computador06"><a>06</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div> 
          <div class="computerSlot slotLeftSide thirdRow tenthColumn slot_3x10"> <!-- 3ª LINHA - 10ª COLUNA --- COMPUTADOR 20 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador20" autocomplete="off" value="20">
            <label class="btn btn-outline-dark" for="computador20"><a>20</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div> 
          <div class="computerSlot slotLeftSide thirdRow ninthColumn slot_3x9"> <!-- 3ª LINHA - 9ª COLUNA --- COMPUTADOR 19 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador19" autocomplete="off" value="19">
            <label class="btn btn-outline-dark" for="computador19"><a>19</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div> 
          <div class="computerSlot slotLeftSide thirdRow eighthColumn slot_3x8"> <!-- 3ª LINHA - 8ª COLUNA --- COMPUTADOR 18 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador18" autocomplete="off" value="18">
            <label class="btn btn-outline-dark" for="computador18"><a>18</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div> 
          <div class="computerSlot slotLeftSide thirdRow seventhColumn slot_3x7"> <!-- 3ª LINHA - 7ª COLUNA --- COMPUTADOR 17 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador17" autocomplete="off" value="17">
            <label class="btn btn-outline-dark" for="computador17"><a>17</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div> 
          <div class="computerSlot slotLeftSide thirdRow sixthColumn slot_3x6"> <!-- 3ª LINHA - 6ª COLUNA --- COMPUTADOR 16 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador16" autocomplete="off" value="16">
            <label class="btn btn-outline-dark" for="computador16"><a>16</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div> 
          <div class="computerSlot slotLeftSide fourthRow tenthColumn slot_4x10"> <!-- 4ª LINHA - 10ª COLUNA --- COMPUTADOR 30 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador30" autocomplete="off" value="30">
            <label class="btn btn-outline-dark" for="computador30"><a>30</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div> 
          <div class="computerSlot slotLeftSide fourthRow ninthColumn slot_4x9"> <!-- 4ª LINHA - 9ª COLUNA --- COMPUTADOR 29 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador29" autocomplete="off" value="29">
            <label class="btn btn-outline-dark" for="computador29"><a>29</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div> 
          <div class="computerSlot slotLeftSide fourthRow eighthColumn slot_4x8"> <!-- 4ª LINHA - 8ª COLUNA --- COMPUTADOR 28 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador28" autocomplete="off" value="28">
            <label class="btn btn-outline-dark" for="computador28"><a>28</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div> 
          <div class="computerSlot slotLeftSide fourthRow seventhColumn slot_4x7"> <!-- 4ª LINHA - 7ª COLUNA --- COMPUTADOR 27 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador27" autocomplete="off" value="27">
            <label class="btn btn-outline-dark" for="computador27"><a>27</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div> 
          <div class="computerSlot slotLeftSide fourthRow sixthColumn slot_4x6">  <!-- 4ª LINHA - 6ª COLUNA --- COMPUTADOR 26 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador26" autocomplete="off" value="26">
            <label class="btn btn-outline-dark" for="computador26"><a>26</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div>
          <div class="computerSlot slotLeftSide fifthRow tenthColumn slot_5x10">  <!-- 5ª LINHA - 10ª COLUNA --- COMPUTADOR 40 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador40" autocomplete="off" value="40">
            <label class="btn btn-outline-dark" for="computador40"><a>40</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div>
          <div class="computerSlot slotLeftSide fifthRow ninthColumn slot_5x9">  <!-- 5ª LINHA - 9ª COLUNA --- COMPUTADOR 39 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador39" autocomplete="off" value="39">
            <label class="btn btn-outline-dark" for="computador39"><a>39</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div>
          <div class="computerSlot slotLeftSide fifthRow eighthColumn slot_5x8">  <!-- 5ª LINHA - 8ª COLUNA --- COMPUTADOR 38 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador38" autocomplete="off" value="38">
            <label class="btn btn-outline-dark" for="computador38"><a>38</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div>
          <div class="computerSlot slotLeftSide fifthRow seventhColumn slot_5x7"> <!-- 5ª LINHA - 7ª COLUNA --- COMPUTADOR 37 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador37" autocomplete="off" value="37">
            <label class="btn btn-outline-dark" for="computador37"><a>37</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div>
          <div class="computerSlot slotLeftSide fifthRow sixthColumn slot_5x6"> <!-- 5ª LINHA - 6ª COLUNA --- COMPUTADOR 36 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador36" autocomplete="off" value="36">
            <label class="btn btn-outline-dark" for="computador36"><a>36</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div>
        </div>
        <div class="rightSide"> <!-- COMPUTADORES DO LADO DIREITO -->
          <div class="computerSlot slotRightSide firstRow fifthColumn slot_1x5"> <!-- 1ª LINHA - 5ª COLUNA --- SLOT VAZIO -->            
          </div>
          <div class="computerSlot slotRightSide firstRow fourthColumn slot_1x4"> <!-- 1ª LINHA - 4ª COLUNA --- SLOT VAZIO -->            
          </div>
          <div class="computerSlot slotRightSide firstRow thirdColumn slot_1x3"> <!-- 1ª LINHA - 3ª COLUNA --- SLOT VAZIO -->            
          </div>
          <div class="computerSlot slotRightSide firstRow secondColumn slot_1x2"> <!-- 1ª LINHA - 2ª COLUNA --- SLOT VAZIO -->            
          </div>
          <div class="computerSlot slotRightSide firstRow firstColumn slot_1x1"> <!-- 1ª LINHA - 1ª COLUNA --- IMAGEM DA PORTA -->
            <svg xmlns="http://www.w3.org/2000/svg" class="porta" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
              <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
              <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/>
            </svg>
          </div>
          <div class="computerSlot slotRightSide secondRow fifthColumn slot_2x5"> <!-- 2ª LINHA - 5ª COLUNA --- COMPUTADOR 05 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador05" autocomplete="off" value="05">
            <label class="btn btn-outline-dark" for="computador05"><a>05</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div>
          <div class="computerSlot slotRightSide secondRow fourthColumn slot_2x4"> <!-- 2ª LINHA - 4ª COLUNA --- COMPUTADOR 04 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador04" autocomplete="off" value="04">
            <label class="btn btn-outline-dark" for="computador04"><a>04</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div>
          <div class="computerSlot slotRightSide secondRow thirdColumn slot_2x3"> <!-- 2ª LINHA - 3ª COLUNA --- COMPUTADOR 03 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador03" autocomplete="off" value="03">
            <label class="btn btn-outline-dark" for="computador03"><a>03</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div>
          <div class="computerSlot slotRightSide secondRow secondColumn slot_2x2"> <!-- 2ª LINHA - 2ª COLUNA --- COMPUTADOR 02 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador02" autocomplete="off" value="02">
            <label class="btn btn-outline-dark" for="computador02"><a>02</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div>
          <div class="computerSlot slotRightSide secondRow firstColumn slot_2x1"> <!-- 2ª LINHA - 1ª COLUNA --- COMPUTADOR 01 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador01" autocomplete="off" value="01">
            <label class="btn btn-outline-dark" for="computador01"><a>01</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div>
          <div class="computerSlot slotRightSide thirdRow fifthColumn slot_3x5"> <!-- 3ª LINHA - 5ª COLUNA --- COMPUTADOR 15 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador15" autocomplete="off" value="15">
            <label class="btn btn-outline-dark" for="computador15"><a>15</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div>
          <div class="computerSlot slotRightSide thirdRow fourthColumn slot_3x4"> <!-- 3ª LINHA - 4ª COLUNA --- COMPUTADOR 14 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador14" autocomplete="off" value="14">
            <label class="btn btn-outline-dark" for="computador14"><a>14</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div>
          <div class="computerSlot slotRightSide thirdRow thirdColumn slot_3x3"> <!-- 3ª LINHA - 3ª COLUNA --- COMPUTADOR 13 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador13" autocomplete="off" value="13">
            <label class="btn btn-outline-dark" for="computador13"><a>13</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div>
          <div class="computerSlot slotRightSide thirdRow secondColumn slot_3x2"> <!-- 3ª LINHA - 2ª COLUNA --- COMPUTADOR 12 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador12" autocomplete="off" value="12">
            <label class="btn btn-outline-dark" for="computador12"><a>12</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div>
          <div class="computerSlot slotRightSide thirdRow firstColumn slot_3x1"> <!-- 3ª LINHA - 1ª COLUNA --- COMPUTADOR 11 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador11" autocomplete="off" value="11">
            <label class="btn btn-outline-dark" for="computador11"><a>11</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div>
          <div class="computerSlot slotRightSide fourthRow fifthColumn slot_4x5"> <!-- 4ª LINHA - 5ª COLUNA --- COMPUTADOR 25 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador25" autocomplete="off" value="25">
            <label class="btn btn-outline-dark" for="computador25"><a>25</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div>
          <div class="computerSlot slotRightSide fourthRow fourthColumn slot_4x4"> <!-- 4ª LINHA - 4ª COLUNA --- COMPUTADOR 24 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador24" autocomplete="off" value="24">
            <label class="btn btn-outline-dark" for="computador24"><a>24</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div>
          <div class="computerSlot slotRightSide fourthRow thirdColumn slot_4x3"> <!-- 4ª LINHA - 3ª COLUNA --- COMPUTADOR 23 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador23" autocomplete="off" value="23">
            <label class="btn btn-outline-dark" for="computador23"><a>23</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div>
          <div class="computerSlot slotRightSide fourthRow secondColumn slot_4x2"> <!-- 4ª LINHA - 2ª COLUNA --- COMPUTADOR 22 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador22" autocomplete="off" value="22">
            <label class="btn btn-outline-dark" for="computador22"><a>22</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div>
          <div class="computerSlot slotRightSide fourthRow firstColumn slot_4x1"> <!-- 4ª LINHA - 1ª COLUNA --- COMPUTADOR 21 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador21" autocomplete="off" value="21">
            <label class="btn btn-outline-dark" for="computador21"><a>21</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div>
          <div class="computerSlot slotRightSide fifthRow fifthColumn slot_5x5"> <!-- 5ª LINHA - 5ª COLUNA --- COMPUTADOR 35 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador35" autocomplete="off" value="35">
            <label class="btn btn-outline-dark" for="computador35"><a>35</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div>
          <div class="computerSlot slotRightSide fifthRow fourthColumn slot_5x4"> <!-- 5ª LINHA - 4ª COLUNA --- COMPUTADOR 34 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador34" autocomplete="off" value="34">
            <label class="btn btn-outline-dark" for="computador34"><a>34</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div>
          <div class="computerSlot slotRightSide fifthRow thirdColumn slot_5x3"> <!-- 5ª LINHA - 3ª COLUNA --- COMPUTADOR 33 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador33" autocomplete="off" value="33">
            <label class="btn btn-outline-dark" for="computador33"><a>33</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div>
          <div class="computerSlot slotRightSide fifthRow secondColumn slot_5x2"> <!-- 5ª LINHA - 2ª COLUNA --- COMPUTADOR 32 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador32" autocomplete="off" value="32">
            <label class="btn btn-outline-dark" for="computador32"><a>32</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div>
          <div class="computerSlot slotRightSide fifthRow firstColumn slot_5x1"> <!-- 5ª LINHA - 1ª COLUNA --- COMPUTADOR 31 -->
            <input type="radio" class="btn-check" name="c2_computadores" id="computador31" autocomplete="off" value="31">
            <label class="btn btn-outline-dark" for="computador31"><a>31</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
            </svg></label>
          </div>
        </div>
      </div>
    </div>
    <div class="form_3 data_info" style="display: none;"> <!-- CONTEÚDO DA PÁGINA 3 -->
      <h4>DESCREVA O PROBLEMA:</h4>
      <br>
      <div class="subject"> <!-- ASSUNTO -->        
        <label for="c3_assunto" class="form-label textos">Selecione o assunto:</label> 
        <input class="form-control" list="datalistOptions" id="c3_assunto" placeholder="Clique aqui para selecionar"> <!-- ÁREA PARA SELEÇÃO DE ASSUNTO -->
          <datalist id="datalistOptions"> <!-- LISTA DE ASSUNTOS -->
            <option value="Máquina não liga">
            <option value="Máquina reiniciando">
            <option value="Rede">
            <option value="Software">
            <option value="Periférico">
            <option value="Outros">
          </datalist>
      </div>
      <br>
      <div class="description"> <!-- DESCRIÇÃO -->        
        <label for="c3_texto" class="form-label textos">Descrição:</label>
        <textarea class="form-control" id="c3_texto" placeholder="Escreva uma breve descrição do problema" rows="3"></textarea> <!-- ÁREA PARA O USUÁRIO DESCREVER O PROBLEMA -->
      </div>  
    </div>
    <div class="form_4 data_info" style="display: none;"> <!-- CONTEÚDO DA PÁGINA 4 -->
      <div class="success">
        <img src="../static/img/check.png" alt=""> <!-- IMAGEM DE SUCESSO -->
        <div class="emailEnviado"> <!-- TEXTO DE EMAIL ENVIADO -->
          <br>
          <br>
          <h2>OBRIGADO(A) POR NOS CONTATAR,</h2>
          <h2>SOLICITAÇÃO CONFIRMADA!</h2>
          <br>
          <h5>Verifique na sua caixa de entrada ou na pasta de SPAM!</h5>
          <h5>Atenciosamente, suporte FATEC.</h5>
        </div>
      </div>    
    </div>  
  </div>
  <div class="buttons"> <!-- BOTÕES PARA TROCA DE CONTEÚDO -->
    <div class="buttons_wrapper">
      <div class="form_1_btns common_btns"> <!-- BOTÕES PARA A PÁGINA 1 -->
        <button type="button" class="btn_next">Avançar</button>
      </div>
      <div class="form_2_btns common_btns" style="display: none;"> <!-- BOTÕES PARA A PÁGINA 2 -->
        <button type="button" class="btn_back">Voltar</button>
        <button type="button" class="btn_next">Avançar</button>
      </div>
      <div class="form_3_btns common_btns" style="display: none;"> <!-- BOTÕES PARA A PÁGINA 3 -->
        <button type="button" class="btn_back">Voltar</button>
        <button type="submit" class="btn_next" value="SendMail">Avançar</button>      
      </div>
      <div class="form_4_btns common_btns" style="display: none;"> <!-- BOTÕES PARA A PÁGINA 4 -->
        <button type="submit" class="btn_done" value="Refresh">Concluir</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}