{% extends 'base.html' %}
{% block title %} Abrir solicitação {% endblock %}
{% block conteudo %}
        <section class="sectionCreateRequest">
            <form method="post" action="/consult_requests" class="formEmail" id="formEmail" enctype="multipart/form-data"> <!-- FORMULÁRIO DE SUPORTE -->
                <script src="https://www.google.com/recaptcha/api.js"></script>
                <script>
                    function onSubmit(token) {
                      document.getElementById("divEmail").submit();
                    }
                  </script>

                <div class="steps"> <!-- ETAPAS DO PROCESSO -->
                    <div class="steps_wrapper">
                        <ul> <!-- LISTA DE ETAPAS -->
                            <li class="form_1_progressbar active"> <!-- ETAPA 1 -->
                                <div>
                                    <p><strong>1</strong></p>
                                </div>          
                            </li>
                            <li class="form_2_progressbar"> <!-- ETAPA 2 -->
                                <div>
                                    <p><strong>2</strong></p>
                                </div> 
                            </li>
                            <li class="form_3_progressbar"> <!-- ETAPA 3 -->
                                <div>
                                    <p><strong>3</strong></p>
                                </div> 
                            </li>
                            <li class="form_4_progressbar"> <!-- ETAPA 4 -->
                                <div>
                                    <p><strong>4</strong></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form"> <!-- CONTEÚDOS DO FORMULÁRIO -->
                    <div class="form_wrapper">
                        <div class="form_1 data_info" id="divEmail"> <!-- CONTEÚDO DA PÁGINA 1 -->
                            <h4>PREENCHA O FORMULÁRIO:</h4>
                            <br>
                            <div class="name"> <!-- NOME -->        
                                <label for="c1_name" class="form-label">Nome: <span class="requiredField">*</span></label>
                                <input class="form-control" placeholder="Digite seu nome aqui" id="c1_name" name="c1_name"> <!-- ÁREA PARA DIGITAR O NOME DO USUÁRIO -->
                            </div>
                            <br>
                            <div class="email"> <!-- E-MAIL -->        
                                <label for="c1_email" class="form-label">E-mail: <span class="requiredField">*</span></label>
                                <input class="form-control" type ="email" placeholder="Digite seu e-mail aqui" id="c1_email" aria-describedby="emailHelp" oninput="validation()"> <!-- ÁREA PARA DIGITAR O E-MAIL DO USUÁRIO -->
                                <span id="text"></span>
                                <button class="g-recaptcha" data-sitekey="reCAPTCHA_site_key"data-callback='onSubmit'data-action='submit'>Submit</button>
                            </div>
                            <br>
                            <div class="subtitleRequiredField">* Campo Obrigatório</div> <!-- LEGENDA -->
                        </div>
                        <div class="form_2 data_info" style="display: none;"> <!-- CONTEÚDO DA PÁGINA 2 -->
                            <h4>ESCOLHA A MÁQUINA COM PROBLEMA:</h4>
                            <br>
                            <div class="layout_computers_edit"> <!-- LAYOUT DOS COMPUTADORES -->
                                {% for slot in room_layout %}                            
                                    {% if slot['id'] != 5 and slot['id'] != 11 %} 
                                        {% set slot_num = slot['name'].split('_')[1] if slot['general_status'] != '#' and slot['general_status'] != -2 %}
                                        {% if slot['general_status'] != '#' and slot['general_status'] >= 0 %} <!-- SLOT COMUM --> 
                                            <div class="wrapperSlot slot{{slot_num}}">
                                                <input type="radio" class="btn-check" name="c2_computadores" id="{{slot['id']}}" autocomplete="off" value="{{slot_num}} {{room}}">
                                            {% set color_num = slot['general_status'] %}
                                            {% if color_num == 0 %}
                                                <label class="btn btn-outline-dark" for="{{slot['id']}}">
                                            {% elif color_num == 1 %}
                                                <label class="btn btn-outline-warning" for="{{slot['id']}}">
                                            {% elif color_num >= 2 %}
                                                <label class="btn btn-outline-danger" for="{{slot['id']}}">
                                            {% endif %}
                                                    <a>{{slot_num}}</a>
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
                                                        <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
                                                    </svg>
                                                </label>
                                            </div>
                                        {% elif slot['general_status'] == '#' or slot['general_status'] == -2 %} <!-- SLOT VAZIO POR PADRÃO -->
                                            <div style="visibility: hidden;" disabled></div>
                                        {% elif slot['general_status'] == -1 %} <!-- SLOT QUE FOI APAGADO -->
                                                <div class="wrapperSlot slot{{slot_num}}">
                                                    <input type="radio" class="btn-check" name="c2_computadores" id="{{slot['id']}}" autocomplete="off" value="{{slot_num}} {{room}}" disabled>
                                                    <label class="btn btn-outline-dark" for="{{slot['id']}}">
                                                        <a>{{slot_num}}</a>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                                        </svg>
                                                    </label>
                                                </div>
                                        {% endif %}
                                    {% elif slot['id'] == 5 %} <!-- SLOT PROFESSOR -->                                                                      
                                        <div class="wrapperSlot slot{{slot['name'].split('_')[1]}}">   
                                            <input type="radio" class="btn-check" name="c2_computadores" id="{{slot['id']}}" autocomplete="off" value="Professor {{room}}">    
                                        {% set prof_color_num = slot['general_status'] %}                                          
                                        {% if prof_color_num <= 0 %}
                                            <label class="btn btn-outline-dark" for="{{slot['id']}}">
                                        {% elif prof_color_num == 1 %}
                                            <label class="btn btn-outline-warning" for="{{slot['id']}}">
                                        {% elif prof_color_num >= 2 %}
                                            <label class="btn btn-outline-danger" for="{{slot['id']}}">
                                        {% endif %}
                                                <a>Prof.</a>
                                            {% if prof_color_num >= 0 %}
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="prof bi bi-pc-display-horizontal" viewBox="0 0 16 16">
                                                    <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
                                                </svg>
                                            {% else %}
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                                </svg>
                                            {% endif %}
                                            </label>
                                        </div>
                                    {% elif slot['id'] == 11 %} <!-- SLOT PORTA -->
                                        <div class="wrapperSlot">
                                            <label style="display: flex;">
                                                <svg style="width: 100%; height: auto; margin:auto;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
                                                    <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/> <!-- MAÇANETA DA PORTA -->
                                                    <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/> <!-- PORTA -->
                                                </svg>
                                            </label>
                                        </div>
                                    {% endif %}                                
                                {% endfor %}
                                    </div>
                        </div>
                        <div class="form_3 data_info" style="display: none;"> <!-- CONTEÚDO DA PÁGINA 3 -->
                            <h4>DESCREVA O PROBLEMA:</h4>
                            <br>
                            <div class="subject"> <!-- ASSUNTO -->        
                                <label for="c3_subject" class="form-label">Selecione o assunto: <span class="requiredField">*</span></label> 
                                <input class="form-control" list="datalistOptionsSubject" id="c3_subject" placeholder="Clique aqui para selecionar" onkeypress="return false;"> <!-- ÁREA PARA SELEÇÃO DE ASSUNTO -->
                                    <datalist id="datalistOptionsSubject"> <!-- LISTA DE ASSUNTOS -->
                                    <option value="Máquina não liga">
                                    <option value="Máquina reiniciando">
                                    <option value="Rede">
                                    <option value="Software">
                                    <option value="Periférico">
                                    <option value="Outros">
                                    </datalist>
                            </div>
                            <br>
                            <div class="description"> <!-- DESCRIÇÃO -->        
                                <label for="c3_description" class="form-label">
                                    Descrição: <span class="requiredField">*</span>
                                </label>
                                <textarea class="form-control" id="c3_description" placeholder="Escreva uma breve descrição do problema" rows="3"></textarea> <!-- ÁREA PARA O USUÁRIO DESCREVER O PROBLEMA -->
                            </div>
                            <br>
                            <div class="attach"> <!-- ANEXO -->
                                <label for="formFile" class="form-label">Anexo:</label>
                                <input class="form-control" type="file" name="file" id="formFile" accept="image/png, image/gif, image/jpg, image/jpeg">
                            </div>
                            <br>
                            <div class="subtitleRequiredField">* Campo Obrigatório</div> <!-- LEGENDA -->
                        </div>
                        <div class="form_4 data_info" id="marginm" style="display: none;"> <!-- CONTEÚDO DA PÁGINA 4 -->
                            <div class="success">
                                <img src="../static/img/check.png" alt=""> <!-- IMAGEM DE SUCESSO -->
                                <div class="emailEnviado"> <!-- TEXTO DE EMAIL ENVIADO -->
                                    <br>
                                    <br>
                                    <h2>OBRIGADO(A) POR NOS CONTATAR,</h2>
                                    <h2>SOLICITAÇÃO CONFIRMADA!</h2>
                                    <br>
                                    <h5>Verifique na sua caixa de entrada ou na pasta de SPAM!</h5>
                                    <h5>Atenciosamente, suporte FATEC.</h5>
                                </div>
                            </div>    
                        </div>  
                    </div>        
                </div>
                <div class="buttons"> <!-- BOTÕES PARA TROCA DE CONTEÚDO -->
                    <div class="buttons_wrapper">
                        <div class="form_1_btns common_btns"> <!-- BOTÕES PARA A PÁGINA 1 -->
                            <button type="button" class="btn btn-secondary btn_next">Avançar</button>
                        </div>
                        <div class="form_2_btns common_btns" style="display: none;"> <!-- BOTÕES PARA A PÁGINA 2 -->
                            <button type="button" class="btn btn-secondary btn_back">Voltar</button>
                            <button type="button" class="btn btn-secondary btn_next">Avançar</button>
                        </div>
                        <div class="form_3_btns common_btns" style="display: none;"> <!-- BOTÕES PARA A PÁGINA 3 -->
                            <button type="button" class="btn btn-secondary btn_back">Voltar</button>
                            <button type="submit" class="btn btn-primary btn_next" id="SendMail" value="SendMail">Enviar</button>   
                        </div>
                        <div class="form_4_btns common_btns" style="display: none;"> <!-- BOTÕES PARA A PÁGINA 4 -->
                            <button type="submit" class="btn btn-primary btn_done" id="Refresh" value="Refresh">Concluir</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
{% endblock %}