<style>
    h1 {
        margin: 0;
    }
    .wrapper {
    height: 54rem;
    width: 82rem;
    display: grid;
    grid-template-columns: 1fr 52rem;
    grid-template-rows: 1fr 44.5rem 1fr;
    grid-template-areas:
    "sidebar layout"
    "sidebar layout"
    "sidebar caption"
    ;
    column-gap: 2rem;
    margin: auto;
    }
    .headerContent {
        background: cyan;
        grid-area: header;
    }
    .sidebarContent {
        grid-area: sidebar;
        display: grid;
        height: 39rem;
        grid-template-rows: 3rem 35rem;
        gap: 1rem;
    }
    .layoutContent {
        grid-area: layout;
    }
    .captionContent {
        grid-area: caption;
        background: red;
    }
    .infos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding: 1rem;
    }
    .d-block {
        display: block;
    }
    .d-none {
        display: none;
    }
    .default {
        font-weight: 500;
        font-size: .9rem !important;
    }
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }
    /* .config {
        margin-bottom: .8rem;
    } */
    .config input,
    .status input {
        width: 192px;
        height: 1.5rem;
        margin: 0;
    }
    .config select,
    .status select {
        width: 192px;
        height: 1.5rem;
        margin: 0;
    };
    @media (max-width:450px) {
    
        h1 {
            margin: 0;
        }
        .wrapper {
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-rows: 1fr 82% 1fr;
            column-gap: 0;
        }
        .sidebarContent {
            display: none;
        }
        .layoutContent {
            background: red;
        }
        .captionContent {
            background: yellow;
        }
        .infos {
            display: none;
        }
        .d-block {
            display: block;
        }
        .d-none {
            display: none;
        }
        .default {
            font-weight: 500;
        }
        .material-symbols-outlined {
            font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
        }
        .config input,
        .status input {
            width: 184px;
        }
        
    }
    .btnBox label a {
        pointer-events: none; cursor: default; color: lightgray;
    }
</style>
{% extends 'base.html' %}
{% block title %} Editar Layout {% endblock %}
{% block conteudo %}
    <div class="wrapper" id="wrapper">
        <div class="sidebarContent">
            <div class="h2_layoutComputers">
                <h2 class="text-center">Informações</h2>
            </div>
            <div class="wrapperInfos" style="background:#f5f5f5; border-radius: 6px;">
                <div class="infos">
                    <div class="default">
                        <div class="config">
                            <label class="mb-config d-block" for="MonitorInput">Monitor: <span id="MonitorStatus"></span></label>
                            <input readonly class="mb-config d-block" id="MonitorInput" type="text">
                            <select class="form-select d-none" name="MonitorSelect" aria-label="select">
                                <option value="" disabled selected hidden>Clique para selecionar</option>
                                <optgroup label="Terceiro Andar">
                                    <option value="301"> 301 </option>
                                </optgroup>    
                                <optgroup label="Quarto Andar">
                                    <option value="401"> 401 </option>
                                </optgroup>
                            </select>
                            <div class="btnBox">
                                <label class="material-symbols-outlined"><a href="" name="btnAdd" class="boxMonitor" id="btnAddMonitor" data-bs-toggle="modal" data-bs-target="#modalSlot">add</a></label>
                                <label class="material-symbols-outlined"><a href="" name="btnEdit" class="boxMonitor" id="btnEditMonitor" data-bs-toggle="modal" data-bs-target="#modalSlot">edit</a></label>
                                <label class="material-symbols-outlined"><a href="" name="btnDelete" class="boxMonitor" id="btnDeleteMonitor" data-bs-toggle="modal" data-bs-target="#modalSlot">delete</a></label>
                            </div>
                        </div>
                        <div class="config">
                            <label class="mb-config d-block" for="CaseInput">Gabinete: <span id="CaseStatus"></span></label>
                            <input readonly class="mb-config d-block" id="CaseInput" type="text">
                            <select class="form-select d-none" name="CaseSelect" aria-label="select">
                                <option value="" disabled selected hidden>Clique para selecionar</option>
                                <optgroup label="Terceiro Andar">
                                    <option value="301"> 301 </option>
                                </optgroup>    
                                <optgroup label="Quarto Andar">
                                    <option value="401"> 401 </option>
                                </optgroup>
                            </select>
                            <div class="btnBox">
                                <label class="material-symbols-outlined"><a href="" name="btnAdd" class="boxGabinete" id="btnAddCase" data-bs-toggle="modal" data-bs-target="#modalSlot">add</a></label>
                                <label class="material-symbols-outlined"><a href="" name="btnEdit" class="boxGabinete" id="btnEditCase" data-bs-toggle="modal" data-bs-target="#modalSlot">edit</a></label>
                                <label class="material-symbols-outlined"><a href="" name="btnDelete" class="boxGabinete" id="btnDeleteCase" data-bs-toggle="modal" data-bs-target="#modalSlot">delete</a></label>
                            </div>
                        </div>
                        <div class="config">
                            <label class="mb-config d-block" for="KeyboardInput">Teclado: <span id="KeyboardStatus"></span></label>
                            <input readonly class="mb-config d-block" id="KeyboardInput" type="text">
                            <select class="form-select d-none" name="KeyboardSelect" aria-label="select">
                                <option value="" disabled selected hidden>Clique para selecionar</option>
                                <optgroup label="Terceiro Andar">
                                    <option value="301"> 301 </option>
                                </optgroup>    
                                <optgroup label="Quarto Andar">
                                    <option value="401"> 401 </option>
                                </optgroup>
                            </select>
                            <div class="btnBox">
                                <label class="material-symbols-outlined"><a href="" name="btnAdd" class="boxTeclado" id="btnAddKeyboard" data-bs-toggle="modal" data-bs-target="#modalSlot">add</a></label>
                                <label class="material-symbols-outlined"><a href="" name="btnEdit" class="boxTeclado" id="btnEditKeyboard" data-bs-toggle="modal" data-bs-target="#modalSlot">edit</a></label>
                                <label class="material-symbols-outlined"><a href="" name="btnDelete" class="boxTeclado" id="btnDeleteKeyboard" data-bs-toggle="modal" data-bs-target="#modalSlot">delete</a></label>
                            </div>
                        </div>
                        <div class="config">
                            <label class="mb-config d-block" for="MouseInput">Mouse: <span id="MouseStatus"></span></label>
                            <input readonly class="mb-config d-block" id="MouseInput" type="text">
                            <select class="form-select d-none" name="MouseSelect" aria-label="select">
                                <option value="" disabled selected hidden>Clique para selecionar</option>
                                <optgroup label="Terceiro Andar">
                                    <option value="301"> 301 </option>
                                </optgroup>    
                                <optgroup label="Quarto Andar">
                                    <option value="401"> 401 </option>
                                </optgroup>
                            </select>
                            <div class="btnBox">
                                <label class="material-symbols-outlined"><a href="" name="btnAdd" class="boxMouse" id="btnAddMouse" data-bs-toggle="modal" data-bs-target="#modalSlot">add</a></label>
                                <label class="material-symbols-outlined"><a href="" name="btnEdit" class="boxMouse" id="btnEditMouse" data-bs-toggle="modal" data-bs-target="#modalSlot">edit</a></label>
                                <label class="material-symbols-outlined"><a href="" name="btnDelete" class="boxMouse" id="btnDeleteMouse" data-bs-toggle="modal" data-bs-target="#modalSlot">delete</a></label>
                            </div>
                        </div>
                        <div class="config">
                            <label class="mb-config d-block" for="OsInput">Sistema: <span id="OsStatus"></span></label>
                            <input readonly class="mb-config d-block" id="OsInput" type="text">
                            <select class="form-select d-none" name="OsSelect" aria-label="select">
                                <option value="" disabled selected hidden>Clique para selecionar</option>
                                <optgroup label="Terceiro Andar">
                                    <option value="301"> 301 </option>
                                </optgroup>    
                                <optgroup label="Quarto Andar">
                                    <option value="401"> 401 </option>
                                </optgroup>
                            </select>
                            <div class="btnBox">
                                <label class="material-symbols-outlined"><a href="" name="btnAdd" class="boxSistema" id="btnAddOs" data-bs-toggle="modal" data-bs-target="#modalSlot">add</a></label>
                                <label class="material-symbols-outlined"><a href="" name="btnEdit" class="boxSistema" id="btnEditOs" data-bs-toggle="modal" data-bs-target="#modalSlot">edit</a></label>
                                <label class="material-symbols-outlined"><a href="" name="btnDelete" class="boxSistema" id="btnDeleteOs" data-bs-toggle="modal" data-bs-target="#modalSlot">delete</a></label>
                            </div>
                        </div>
                        <div class="config">
                            <label class="mb-config d-block" for="NetworkInput">Rede: <span id="NetworkStatus"></span></label>
                            <input readonly class="mb-config d-block" id="NetworkInput" type="text">
                            <select class="form-select d-none" name="NetworkSelect" aria-label="select">
                                <option value="" disabled selected hidden>Clique para selecionar</option>
                                <optgroup label="Terceiro Andar">
                                    <option value="301"> 301 </option>
                                </optgroup>    
                                <optgroup label="Quarto Andar">
                                    <option value="401"> 401 </option>
                                </optgroup>
                            </select>
                            <div class="btnBox">
                                <label class="material-symbols-outlined"><a href="" name="btnAdd" class="boxRede" id="btnAddNetwork" data-bs-toggle="modal" data-bs-target="#modalSlot">add</a></label>
                                <label class="material-symbols-outlined"><a href="" name="btnEdit" class="boxRede" id="btnEditNetwork" data-bs-toggle="modal" data-bs-target="#modalSlot">edit</a></label>
                                <label class="material-symbols-outlined"><a href="" name="btnDelete" class="boxRede" id="btnDeleteNetwork" data-bs-toggle="modal" data-bs-target="#modalSlot">delete</a></label>
                            </div>
                        </div>  
                        <div class="config">
                            <label class="mb-config d-block" for="IpInput">IPv4: <span id="IpStatus"></span></label>
                            <input readonly class="mb-config d-block" id="IpInput" type="text">
                            <select class="form-select d-none" name="IpSelect" aria-label="select">
                                <option value="" disabled selected hidden>Clique para selecionar</option>
                                <optgroup label="Terceiro Andar">
                                    <option value="301"> 301 </option>
                                </optgroup>    
                                <optgroup label="Quarto Andar">
                                    <option value="401"> 401 </option>
                                </optgroup>
                            </select>
                            <div class="btnBox">
                                <label class="material-symbols-outlined"><a href="" name="btnAdd" class="boxIpv4" id="btnAddIp" data-bs-toggle="modal" data-bs-target="#modalSlot">add</a></label>
                                <label class="material-symbols-outlined"><a href="" name="btnEdit" class="boxIpv4" id="btnEditIp" data-bs-toggle="modal" data-bs-target="#modalSlot">edit</a></label>
                                <label class="material-symbols-outlined"><a href="" name="btnDelete" class="boxIpv4" id="btnDeleteIp" data-bs-toggle="modal" data-bs-target="#modalSlot">delete</a></label>
                            </div>
                        </div>                       
                    </div>
                    <div class="default">
                        <div class="config">
                            <label class="mb-config d-block" for="MotherboardInput">Placa Mãe: <span id="MotherboardStatus"></span></label>
                            <input readonly class="mb-config d-block" id="MotherboardInput" type="text">
                            <select class="form-select d-none" name="MotherboardSelect" aria-label="select">
                                <option value="" disabled selected hidden>Clique para selecionar</option>
                                <optgroup label="Terceiro Andar">
                                    <option value="301"> 301 </option>
                                </optgroup>    
                                <optgroup label="Quarto Andar">
                                    <option value="401"> 401 </option>
                                </optgroup>
                            </select>
                            <div class="btnBox">
                                <label class="material-symbols-outlined"><a href="" name="btnAdd" class="boxPlacaMãe" id="btnAddMotherboard" data-bs-toggle="modal" data-bs-target="#modalSlot">add</a></label>
                                <label class="material-symbols-outlined"><a href="" name="btnEdit" class="boxPlacaMãe" id="btnEditMotherboard" data-bs-toggle="modal" data-bs-target="#modalSlot">edit</a></label>
                                <label class="material-symbols-outlined"><a href="" name="btnDelete" class="boxPlacaMãe" id="btnDeleteMotherboard" data-bs-toggle="modal" data-bs-target="#modalSlot">delete</a></label>
                            </div>
                        </div>
                        <div class="config">
                            <label class="mb-config d-block" for="CpuInput">Processador: <span id="CpuStatus"></span></label>
                            <input readonly class="mb-config d-block" id="CpuInput" type="text">
                            <select class="form-select d-none" name="CpuSelect" aria-label="select">
                                <option value="" disabled selected hidden>Clique para selecionar</option>
                                <optgroup label="Terceiro Andar">
                                    <option value="301"> 301 </option>
                                </optgroup>    
                                <optgroup label="Quarto Andar">
                                    <option value="401"> 401 </option>
                                </optgroup>
                            </select>
                            <div class="btnBox">
                                <label class="material-symbols-outlined"><a href="" name="btnAdd" class="boxProcessador" id="btnAddCpu" data-bs-toggle="modal" data-bs-target="#modalSlot">add</a></label>
                                <label class="material-symbols-outlined"><a href="" name="btnEdit" class="boxProcessador" id="btnEditCpu" data-bs-toggle="modal" data-bs-target="#modalSlot">edit</a></label>
                                <label class="material-symbols-outlined"><a href="" name="btnDelete" class="boxProcessador" id="btnDeleteCpu" data-bs-toggle="modal" data-bs-target="#modalSlot">delete</a></label>
                            </div>
                        </div>
                        <div class="config">
                            <label class="mb-config d-block" for="MemoryInput">Memória RAM: <span id="MemoryStatus"></span></label>
                            <input readonly class="mb-config d-block" id="MemoryInput" type="text">
                            <select class="form-select d-none" name="MemorySelect" aria-label="select">
                                <option value="" disabled selected hidden>Clique para selecionar</option>
                                <optgroup label="Terceiro Andar">
                                    <option value="301"> 301 </option>
                                </optgroup>    
                                <optgroup label="Quarto Andar">
                                    <option value="401"> 401 </option>
                                </optgroup>
                            </select>
                            <div class="btnBox">
                                <label class="material-symbols-outlined"><a href="" name="btnAdd" class="boxMemóriaRam" id="btnAddMemory" data-bs-toggle="modal" data-bs-target="#modalSlot">add</a></label>
                                <label class="material-symbols-outlined"><a href="" name="btnEdit" class="boxMemóriaRam" id="btnEditMemory" data-bs-toggle="modal" data-bs-target="#modalSlot">edit</a></label>
                                <label class="material-symbols-outlined"><a href="" name="btnDelete" class="boxMemóriaRam" id="btnDeleteMemory" data-bs-toggle="modal" data-bs-target="#modalSlot">delete</a></label>
                            </div>
                        </div>
                        <div class="config">
                            <label class="mb-config d-block" for="StorageInput">Armazenamento: <span id="StorageStatus"></span></label>
                            <input readonly class="mb-config d-block" id="StorageInput" type="text">
                            <select class="form-select d-none" name="StorageSelect" aria-label="select">
                                <option value="" disabled selected hidden>Clique para selecionar</option>
                                <optgroup label="Terceiro Andar">
                                    <option value="301"> 301 </option>
                                </optgroup>    
                                <optgroup label="Quarto Andar">
                                    <option value="401"> 401 </option>
                                </optgroup>
                            </select>
                            <div class="btnBox">
                                <label class="material-symbols-outlined"><a href="" name="btnAdd" class="boxArmazenamento" id="btnAddStorage" data-bs-toggle="modal" data-bs-target="#modalSlot">add</a></label>
                                <label class="material-symbols-outlined"><a href="" name="btnEdit" class="boxArmazenamento" id="btnEditStorage" data-bs-toggle="modal" data-bs-target="#modalSlot">edit</a></label>
                                <label class="material-symbols-outlined"><a href="" name="btnDelete" class="boxArmazenamento" id="btnDeleteStorage" data-bs-toggle="modal" data-bs-target="#modalSlot">delete</a></label>
                            </div>
                        </div>
                        <div class="config">
                            <label class="mb-config d-block" for="GpuInput">Placa de Vídeo: <span id="GpuStatus"></span></label>
                            <input readonly class="mb-config d-block" id="GpuInput" type="text">
                            <select class="form-select d-none" name="GpuSelect" aria-label="select">
                                <option value="" disabled selected hidden>Clique para selecionar</option>
                                <optgroup label="Terceiro Andar">
                                    <option value="301"> 301 </option>
                                </optgroup>    
                                <optgroup label="Quarto Andar">
                                    <option value="401"> 401 </option>
                                </optgroup>
                            </select>
                            <div class="btnBox">
                                <label class="material-symbols-outlined"><a href="" name="btnAdd" class="boxPlacaDeVídeo" id="btnAddGpu" data-bs-toggle="modal" data-bs-target="#modalSlot">add</a></label>
                                <label class="material-symbols-outlined"><a href="" name="btnEdit" class="boxPlacaDeVídeo" id="btnEditGpu" data-bs-toggle="modal" data-bs-target="#modalSlot">edit</a></label>
                                <label class="material-symbols-outlined"><a href="" name="btnDelete" class="boxPlacaDeVídeo" id="btnDeleteGpu" data-bs-toggle="modal" data-bs-target="#modalSlot">delete</a></label>
                            </div>
                        </div>
                        <div class="config">
                            <label class="mb-config d-block" for="PsuInput">Fonte: <span id="PsuStatus"></span></label>
                            <input readonly class="mb-config d-block" id="PsuInput" type="text">
                            <select class="form-select d-none" name="PsuSelect" aria-label="select">
                                <option value="" disabled selected hidden>Clique para selecionar</option>
                                <optgroup label="Terceiro Andar">
                                    <option value="301"> 301 </option>
                                </optgroup>    
                                <optgroup label="Quarto Andar">
                                    <option value="401"> 401 </option>
                                </optgroup>
                            </select>
                            <div class="btnBox">
                                <label class="material-symbols-outlined"><a href="" name="btnAdd" class="boxFonte" id="btnAddPsu" data-bs-toggle="modal" data-bs-target="#modalSlot">add</a></label>
                                <label class="material-symbols-outlined"><a href="" name="btnEdit" class="boxFonte" id="btnEditPsu" data-bs-toggle="modal" data-bs-target="#modalSlot">edit</a></label>
                                <label class="material-symbols-outlined"><a href="" name="btnDelete" class="boxFonte" id="btnDeletePsu" data-bs-toggle="modal" data-bs-target="#modalSlot">delete</a></label>
                            </div>
                        </div>
                        <div class="config">
                            <label class="mb-config d-block" for="MacInput">Endereço Físico: <span id="MacStatus"></span></label>
                            <input readonly class="mb-config d-block" id="MacInput" type="text">
                            <select class="form-select d-none" name="MacSelect" aria-label="select">
                                <option value="" disabled selected hidden>Clique para selecionar</option>
                                <optgroup label="Terceiro Andar">
                                    <option value="301"> 301 </option>
                                </optgroup>    
                                <optgroup label="Quarto Andar">
                                    <option value="401"> 401 </option>
                                </optgroup>
                            </select>
                            <div class="btnBox">
                                <label class="material-symbols-outlined"><a href="" name="btnAdd" class="boxEndereçoFísico" id="btnAddMac" data-bs-toggle="modal" data-bs-target="#modalSlot">add</a></label>
                                <label class="material-symbols-outlined"><a href="" name="btnEdit" class="boxEndereçoFísico" id="btnEditMac" data-bs-toggle="modal" data-bs-target="#modalSlot">edit</a></label>
                                <label class="material-symbols-outlined"><a href="" name="btnDelete" class="boxEndereçoFísico" id="btnDeleteMac" data-bs-toggle="modal" data-bs-target="#modalSlot">delete</a></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layoutContent">
            <div class="wrapper_layoutComputers active">
                <div class="h2_layoutComputers">
                    <h2 class="">Escolha o slot</h2>
                </div>
                <div class="layout_computers_edit"> <!-- LAYOUT DOS COMPUTADORES -->
            {% for slot in room_layout %}                            
                {% if slot['id'] != 5 and slot['id'] != 11 %} 
                    {% set slot_num = slot['name'].split('_')[1] if slot['general_status'] != '#' and slot['general_status'] != -2 %}
                    {% if slot['general_status'] != '#' and slot['general_status'] >= 0 %} <!-- SLOT COMUM --> 
                        <div class="wrapperSlot slot{{slot_num}}">
                            <input type="radio" class="btn-check" name="slotComputerEdit" id="{{slot['id']}}" autocomplete="off" value="{{slot_num}}">
                        {% set color_num = slot['general_status'] %}
                        {% if color_num == 0 %}
                            <label class="btn btn-outline-dark" for="{{slot['id']}}">
                        {% elif color_num == 1 %}
                            <label class="btn btn-outline-warning" for="{{slot['id']}}">
                        {% elif color_num >= 2 %}
                            <label class="btn btn-outline-danger" for="{{slot['id']}}">
                        {% endif %}
                                <a>{{slot_num}}</a>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
                                    <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
                                </svg>
                            </label>
                        </div>
                    {% elif slot['general_status'] == '#' or slot['general_status'] == -2 %} <!-- SLOT VAZIO POR PADRÃO -->
                        <div style="visibility: hidden;"></div>
                    {% elif slot['general_status'] == -1 %} <!-- SLOT QUE FOI APAGADO -->
                            <div class="wrapperSlot slot{{slot_num}}">
                                <input type="radio" class="btn-check" name="slotComputerEdit" id="{{slot['id']}}" autocomplete="off" value="{{slot_num}}">
                                <label class="btn btn-outline-dark" for="{{slot['id']}}">
                                    <a>{{slot_num}}</a>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                    </svg>
                                </label>
                            </div>
                    {% endif %}
                {% elif slot['id'] == 5 %} <!-- SLOT PROFESSOR -->                                                                      
                    <div class="wrapperSlot slot{{slot['name'].split('_')[1]}}">   
                        <input type="radio" class="btn-check" name="slotComputerEdit" id="{{slot['id']}}" autocomplete="off" value="Professor">    
                    {% set prof_color_num = slot['general_status'] %}                                          
                    {% if prof_color_num <= 0 %}
                        <label class="btn btn-outline-dark" for="{{slot['id']}}">
                    {% elif prof_color_num == 1 %}
                        <label class="btn btn-outline-warning" for="{{slot['id']}}">
                    {% elif prof_color_num >= 2 %}
                        <label class="btn btn-outline-danger" for="{{slot['id']}}">
                    {% endif %}
                            <a>Prof.</a>
                        {% if prof_color_num >= 0 %}
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="prof bi bi-pc-display-horizontal" viewBox="0 0 16 16">
                                <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
                            </svg>
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                            </svg>
                        {% endif %}
                        </label>
                    </div>
                {% elif slot['id'] == 11 %} <!-- SLOT PORTA -->
                    <div class="wrapperSlot">
                        <label style="display: flex;">
                            <svg style="width: 100%; height: auto; margin:auto;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
                                <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/> <!-- MAÇANETA DA PORTA -->
                                <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/> <!-- PORTA -->
                            </svg>
                        </label>
                    </div>
                {% endif %}                                
            {% endfor %}                
                </div>
            </div>
        </div>
        <div class="captionContent">
            <h1>LEGENDA</h1>
        </div>
    </div>
    <script type="text/javascript">
   
        sessionStorage.setItem('table_layout', JSON.stringify({{table_layout|safe}}));
        sessionStorage.setItem('table_inventory', JSON.stringify({{table_inventory|safe}}));

        function fillSidebar() {

            var id = document.activeElement.id;

            var last_alteration = JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['last_alteration'];
            var name = JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['name'];
            var general_status = JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['general_status'];

            const items = ['Monitor', 'Case', 'Keyboard', 'Mouse', 'Os', 'Network', 'Motherboard', 'Cpu', 'Memory', 'Storage', 'Gpu', 'Psu', 'Ip', 'Mac'];

            const table = {
                'Monitor':[JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['monitor_config'],JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['monitor_status']],
                'Case':[JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['case_config'],JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['case_status']],
                'Keyboard':[JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['keyboard_config'],JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['keyboard_status']],
                'Mouse':[JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['mouse_config'],JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['mouse_status']],
                'Os':[JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['os_config'],JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['os_status']],
                'Network':[JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['network_config'],JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['network_status']],
                'Motherboard':[JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['motherboard_config'],JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['motherboard_status']],
                'Cpu':[JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['cpu_config'],JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['cpu_status']],
                'Memory':[JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['memory_config'],JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['memory_status']],
                'Storage':[JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['storage_config'],JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['storage_status']],
                'Gpu':[JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['gpu_config'],JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['gpu_status']],
                'Psu':[JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['psu_config'],JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['psu_status']],
                'Ip':[JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['ip_config'],JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['ip_status']],
                'Mac':[JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['mac_config'],JSON.parse(window.sessionStorage.getItem("table_layout"))[id]['mac_status']]
            };       

            items.forEach(element => {
                document.getElementById(element+'Input').value = table[element][0];
                document.getElementById(element+'Status').innerHTML = table[element][1];
                if (table[element][0] != '#') {
                    document.getElementById('btnAdd'+element).style.cssText = "pointer-events: none; cursor: default; color: lightgray;";
                    document.getElementById('btnEdit'+element).style.cssText = "pointer-events: fill; cursor: pointer; color: black;";
                    document.getElementById('btnDelete'+element).style.cssText = "pointer-events: fill; cursor: pointer; color: black;";
                } else {
                    document.getElementById('btnAdd'+element).style.cssText = "pointer-events: fill; cursor: pointer; color: black;";
                    document.getElementById('btnEdit'+element).style.cssText = "pointer-events: none; cursor: default; color: lightgray;";
                    document.getElementById('btnDelete'+element).style.cssText = "pointer-events: none; cursor: default; color: lightgray;";
                };
            });
            
        };

        function configModal() {

            const inventory = JSON.parse(window.sessionStorage.getItem("table_inventory"));

            let btn = document.activeElement;
            let idInputItem = btn.id.toString().slice(3).split(/(?=[A-Z])/)[1];
            let inputItem = document.getElementById(idInputItem+'Input').value;
            let nameItem = btn.classList.toString().slice(3).split(/(?=[A-Z])/).join(' ');
            let motherboardInput = document.getElementById("MotherboardInput");
            let modal = document.getElementById("modalLabel");
            let formModal = document.getElementById("formModal");
            let itemAtualModal = document.getElementById("itemAtualModal");
            let inputModal = document.getElementById("inputModal");
            let textBodyModal = document.getElementById("textBodyModal");
            let itemNovoModal = document.getElementById("itemNovoModal");
            let selectModal = document.getElementById("selectModal");
            let digitarItemNovoModal = document.getElementById("digitarItemNovoModal");
            let inputDigitModal = document.getElementById("inputDigitModal");
            let btnModal = document.getElementById("btnModal");

            if (btnModal.classList.contains('btn-outline-danger')) {
                btnModal.classList.remove('btn-outline-danger');
                btnModal.classList.add('btn-outline-primary');
            };

            textBodyModal.style.display = 'none';
            itemAtualModal.style.display = 'block';            
            selectModal.innerHTML = '';
            digitarItemNovoModal.style.display = 'none';
            inputModal.value = inputItem;

            if (nameItem != 'Rede' && nameItem != 'Ipv4' && nameItem != 'Endereço Físico') {

                itemNovoModal.style.display = 'block';

            } else {

                itemNovoModal.style.display = 'none';
                digitarItemNovoModal.style.display = 'block';
                inputDigitModal.value = '';

            };
            
            if (btn.name == 'btnAdd') {

                modal.innerHTML = 'Adicionar '+nameItem;
                formModal.action = '/add_slot';
                itemAtualModal.style.display = 'none';
                btnModal.innerHTML = 'Adicionar';                

            } else if (btn.name == 'btnEdit') {

                modal.innerHTML = "Editar "+nameItem;
                formModal.action = '/edit_slot';
                btnModal.innerHTML = 'Editar';

            } else if (btn.name == 'btnDelete') {

                modal.innerHTML = "Deletar "+nameItem;
                formModal.action = '/delete_slot';
                textBodyModal.style.display = 'block';
                itemNovoModal.style.display = 'none';
                digitarItemNovoModal.style.display = 'none';
                btnModal.innerHTML = 'Deletar';
                btnModal.classList.remove('btn-outline-primary');
                btnModal.classList.add('btn-outline-danger');

            };

            var option = document.createElement("option");
            option.value = "";
            option.text = 'Clique para selecionar';
            option.setAttribute('disabled', true);
            option.setAttribute('selected', true);
            option.setAttribute('hidden', true);
            selectModal.appendChild(option);
            let tempOptions = []
            Object.keys(inventory).forEach(key => {
                if (inventory[key].type.toLowerCase() == idInputItem.toLowerCase() && inventory[key].amount > 0) {   
                                     
                    if (inventory[key].type != 'Motherboard' && inventory[key].type != 'CPU') {                        
                        tempOptions.push(inventory[key].brand + ' [' + inventory[key].model + ']');                        
                    } else if (inventory[key].type == 'Motherboard') {
                        let tempBrand = inventory[key].model.split(' ', 1);
                        let tempModel = inventory[key].model.slice(tempBrand[0].length+1);
                        tempOptions.push(tempBrand + ' [' + tempModel + ']');
                    } else if (inventory[key].type == 'CPU') {   
                        if (motherboardInput.value.includes('AM4') && inventory[key].model.includes('AM4')) {
                            tempOptions.push(inventory[key].brand + ' [' + inventory[key].model + ']'); 
                        } else if (motherboardInput.value.includes('LGA1200') && inventory[key].model.includes('LGA1200')) {
                            tempOptions.push(inventory[key].brand + ' [' + inventory[key].model + ']'); 
                        } else {
                            return;
                        };                                  
                    };                 
                } else {
                    return;
                };
            });
            tempOptions.sort();
            tempOptions.forEach(element => {
                var option = document.createElement("option");  
                option.value = option.text = element; 
                selectModal.appendChild(option);
            });
                        
        };

        [].forEach.call(document.getElementsByTagName('a'), function (tag) {
            tag.addEventListener('click', configModal);					
		});  
        [].forEach.call(document.getElementsByName('slotComputerEdit'), function (slot) {
            slot.addEventListener('click', fillSidebar);					
		});      

    </script>

    <div class="modal fade" style="--bs-modal-width: 45rem;" id="modalSlot" tabindex="-1" aria-labelledby="modalAddLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form action="/create_request" id="formModal" method="post">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalLabel"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <span id="textBodyModal" style="margin-bottom: 1rem;">Tem certeza que deseja deletar esse item?</span>
                        <div id="itemAtualModal" style="margin-bottom: 1rem;">
                            Atual:
                            <input class="form-control" id="inputModal" type="text" placeholder="" readonly>
                        </div>
                        <div id="itemNovoModal" style="margin-bottom: 1rem;">
                            Novo:
                            <select class="form-select" id="selectModal" name="selectEditModal" aria-label="select">
                            </select>
                        </div>
                        <div id="digitarItemNovoModal">
                            Digite um novo valor:
                            <input class="form-control" id="inputDigitModal" type="text" placeholder="">
                        </div>                
                    </div>
                    <div class="modal-footer">        
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" id="btnModal" class="btn btn-outline-primary"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}