<style>
    h1 {
        margin: 0;
    }
    .wrapper {
    height: 54rem;
    width: 82rem;
    display: grid;
    grid-template-columns: 1fr 52rem;
    grid-template-rows: 1fr 44.5rem 1fr;
    grid-template-areas:
    "sidebar layout"
    "sidebar layout"
    "sidebar caption"
    ;
    column-gap: 2rem;
    margin: auto;
    }
    .headerContent {
        background: cyan;
        grid-area: header;
    }
    .sidebarContent {
        grid-area: sidebar;
        display: grid;
        height: 39rem;
        grid-template-rows: 3rem 35rem;
        gap: 1rem;
    }
    .layoutContent {
        grid-area: layout;
    }
    .captionContent {
        grid-area: caption;
        background: red;
    }
    .infos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding: 1rem;
    }
    .d-block {
        display: block;
    }
    .d-none {
        display: none;
    }
    .default {
        font-weight: 500;
    }
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }
    .config {
        margin-bottom: .8rem;
    }
    .config input,
    .status input {
        width: 192px;
        height: 1.5rem;
        margin: 0;
    }
    .config select,
    .status select {
        width: 192px;
        height: 1.5rem;
        margin: 0;
    };
    @media (max-width:450px) {
    
        h1 {
            margin: 0;
        }
        .wrapper {
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-rows: 1fr 82% 1fr;
            column-gap: 0;
        }
        .sidebarContent {
            display: none;
        }
        .layoutContent {
            background: red;
        }
        .captionContent {
            background: yellow;
        }
        .infos {
            display: none;
        }
        .d-block {
            display: block;
        }
        .d-none {
            display: none;
        }
        .default {
            font-weight: 500;
        }
        .material-symbols-outlined {
            font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
        }
        .config input,
        .status input {
            width: 184px;
        }
    }
</style>
{% extends 'base.html' %}
{% block title %} Editar Layout {% endblock %}
{% block conteudo %}
    <div class="wrapper">
        <div class="sidebarContent">
            <div class="h2_layoutComputers">
                <h2 class="text-center">Informações</h2>
            </div>
            <div class="wrapperInfos" style="background:#f5f5f5; border-radius: 6px;">
                <div class="infos">
                    <div class="default">
                        <div class="config">
                            <label class="mb-config d-block" for="monitorInput">Monitor: <span id="monitorStatus"></span></label>
                            <input class="mb-config d-block" id="monitorInput" type="text">
                            <select class="form-select d-none" name="monitorSelect" aria-label="select">
                                <option value="" disabled selected hidden>Clique para selecionar</option>
                                <optgroup label="Terceiro Andar">
                                    <option value="301"> 301 </option>
                                </optgroup>    
                                <optgroup label="Quarto Andar">
                                    <option value="401"> 401 </option>
                                </optgroup>
                            </select>
                            <div class="btnBox">
                                <label class="material-symbols-outlined"><a href="#" id="btnAddMonitor">add</a></label>
                                <label class="material-symbols-outlined"><a href="#" id="btnEditMonitor">edit</a></label>
                                <label class="material-symbols-outlined"><a href="#" id="btnDeleteMonitor">delete</a></label>
                            </div>
                        </div>
                        <div class="config">
                            <label class="mb-config d-block" for="caseInput">Gabinete: <span id="caseStatus"></span></label>
                            <input class="mb-config d-block" id="caseInput" type="text">
                            <select class="form-select d-none" name="caseSelect" aria-label="select">
                                <option value="" disabled selected hidden>Clique para selecionar</option>
                                <optgroup label="Terceiro Andar">
                                    <option value="301"> 301 </option>
                                </optgroup>    
                                <optgroup label="Quarto Andar">
                                    <option value="401"> 401 </option>
                                </optgroup>
                            </select>
                            <div class="btnBox">
                                <label class="material-symbols-outlined"><a href="#" id="btnAddCase">add</a></label>
                                <label class="material-symbols-outlined"><a href="#" id="btnEditCase">edit</a></label>
                                <label class="material-symbols-outlined"><a href="#" id="btnDeleteCase">delete</a></label>
                            </div>
                        </div>
                        <div class="config">
                            <label class="mb-config d-block" for="keyboardInput">Teclado: <span id="keyboardStatus"></span></label>
                            <input class="mb-config d-block" id="keyboardInput" type="text">
                            <select class="form-select d-none" name="keyboardSelect" aria-label="select">
                                <option value="" disabled selected hidden>Clique para selecionar</option>
                                <optgroup label="Terceiro Andar">
                                    <option value="301"> 301 </option>
                                </optgroup>    
                                <optgroup label="Quarto Andar">
                                    <option value="401"> 401 </option>
                                </optgroup>
                            </select>
                            <div class="btnBox">
                                <label class="material-symbols-outlined"><a href="#" id="btnAddKeyboard">add</a></label>
                                <label class="material-symbols-outlined"><a href="#" id="btnEditKeyboard">edit</a></label>
                                <label class="material-symbols-outlined"><a href="#" id="btnDeleteKeyboard">delete</a></label>
                            </div>
                        </div>
                        <div class="config">
                            <label class="mb-config d-block" for="mouseInput">Mouse: <span id="mouseStatus"></span></label>
                            <input class="mb-config d-block" id="mouseInput" type="text">
                            <select class="form-select d-none" name="mouseSelect" aria-label="select">
                                <option value="" disabled selected hidden>Clique para selecionar</option>
                                <optgroup label="Terceiro Andar">
                                    <option value="301"> 301 </option>
                                </optgroup>    
                                <optgroup label="Quarto Andar">
                                    <option value="401"> 401 </option>
                                </optgroup>
                            </select>
                            <div class="btnBox">
                                <label class="material-symbols-outlined"><a href="#" id="btnAddMouse">add</a></label>
                                <label class="material-symbols-outlined"><a href="#" id="btnEditMouse">edit</a></label>
                                <label class="material-symbols-outlined"><a href="#" id="btnDeleteMouse">delete</a></label>
                            </div>
                        </div>
                        <div class="config">
                            <label class="mb-config d-block" for="osInput">Sistema: <span id="osStatus"></span></label>
                            <input class="mb-config d-block" id="osInput" type="text">
                            <select class="form-select d-none" name="osSelect" aria-label="select">
                                <option value="" disabled selected hidden>Clique para selecionar</option>
                                <optgroup label="Terceiro Andar">
                                    <option value="301"> 301 </option>
                                </optgroup>    
                                <optgroup label="Quarto Andar">
                                    <option value="401"> 401 </option>
                                </optgroup>
                            </select>
                            <div class="btnBox">
                                <label class="material-symbols-outlined"><a href="#" id="btnAddOs">add</a></label>
                                <label class="material-symbols-outlined"><a href="#" id="btnEditOs">edit</a></label>
                                <label class="material-symbols-outlined"><a href="#" id="btnDeleteOs">delete</a></label>
                            </div>
                        </div>
                        <div class="config">
                            <label class="mb-config d-block" for="networkInput">Rede: <span id="networkStatus"></span></label>
                            <input class="mb-config d-block" id="networkInput" type="text">
                            <select class="form-select d-none" name="networkSelect" aria-label="select">
                                <option value="" disabled selected hidden>Clique para selecionar</option>
                                <optgroup label="Terceiro Andar">
                                    <option value="301"> 301 </option>
                                </optgroup>    
                                <optgroup label="Quarto Andar">
                                    <option value="401"> 401 </option>
                                </optgroup>
                            </select>
                            <div class="btnBox">
                                <label class="material-symbols-outlined"><a href="#" id="btnAddNetwork">add</a></label>
                                <label class="material-symbols-outlined"><a href="#" id="btnEditNetwork">edit</a></label>
                                <label class="material-symbols-outlined"><a href="#" id="btnDeleteNetwork">delete</a></label>
                            </div>
                        </div>                        
                    </div>
                    <div class="default">
                        <div class="config">
                            <label class="mb-config d-block" for="motherboardInput">Placa Mãe: <span id="motherboardStatus"></span></label>
                            <input class="mb-config d-block" id="motherboardInput" type="text">
                            <select class="form-select d-none" name="motherboardSelect" aria-label="select">
                                <option value="" disabled selected hidden>Clique para selecionar</option>
                                <optgroup label="Terceiro Andar">
                                    <option value="301"> 301 </option>
                                </optgroup>    
                                <optgroup label="Quarto Andar">
                                    <option value="401"> 401 </option>
                                </optgroup>
                            </select>
                            <div class="btnBox">
                                <label class="material-symbols-outlined"><a href="#" id="btnAddMotherboard">add</a></label>
                                <label class="material-symbols-outlined"><a href="#" id="btnEditMotherboard">edit</a></label>
                                <label class="material-symbols-outlined"><a href="#" id="btnDeleteMotherboard">delete</a></label>
                            </div>
                        </div>
                        <div class="config">
                            <label class="mb-config d-block" for="cpuInput">Processador: <span id="cpuStatus"></span></label>
                            <input class="mb-config d-block" id="cpuInput" type="text">
                            <select class="form-select d-none" name="cpuSelect" aria-label="select">
                                <option value="" disabled selected hidden>Clique para selecionar</option>
                                <optgroup label="Terceiro Andar">
                                    <option value="301"> 301 </option>
                                </optgroup>    
                                <optgroup label="Quarto Andar">
                                    <option value="401"> 401 </option>
                                </optgroup>
                            </select>
                            <div class="btnBox">
                                <label class="material-symbols-outlined"><a href="#" id="btnAddCpu">add</a></label>
                                <label class="material-symbols-outlined"><a href="#" id="btnEditCpu">edit</a></label>
                                <label class="material-symbols-outlined"><a href="#" id="btnDeleteCpu">delete</a></label>
                            </div>
                        </div>
                        <div class="config">
                            <label class="mb-config d-block" for="memoryInput">Memória RAM: <span id="memoryStatus"></span></label>
                            <input class="mb-config d-block" id="memoryInput" type="text">
                            <select class="form-select d-none" name="memorySelect" aria-label="select">
                                <option value="" disabled selected hidden>Clique para selecionar</option>
                                <optgroup label="Terceiro Andar">
                                    <option value="301"> 301 </option>
                                </optgroup>    
                                <optgroup label="Quarto Andar">
                                    <option value="401"> 401 </option>
                                </optgroup>
                            </select>
                            <div class="btnBox">
                                <label class="material-symbols-outlined"><a href="#" id="btnAddMemory">add</a></label>
                                <label class="material-symbols-outlined"><a href="#" id="btnEditMemory">edit</a></label>
                                <label class="material-symbols-outlined"><a href="#" id="btnDeleteMemory">delete</a></label>
                            </div>
                        </div>
                        <div class="config">
                            <label class="mb-config d-block" for="storageInput">Armazenamento: <span id="storageStatus"></span></label>
                            <input class="mb-config d-block" id="storageInput" type="text">
                            <select class="form-select d-none" name="storageSelect" aria-label="select">
                                <option value="" disabled selected hidden>Clique para selecionar</option>
                                <optgroup label="Terceiro Andar">
                                    <option value="301"> 301 </option>
                                </optgroup>    
                                <optgroup label="Quarto Andar">
                                    <option value="401"> 401 </option>
                                </optgroup>
                            </select>
                            <div class="btnBox">
                                <label class="material-symbols-outlined"><a href="#" id="btnAddStorage">add</a></label>
                                <label class="material-symbols-outlined"><a href="#" id="btnEditStorage">edit</a></label>
                                <label class="material-symbols-outlined"><a href="#" id="btnDeleteStorage">delete</a></label>
                            </div>
                        </div>
                        <div class="config">
                            <label class="mb-config d-block" for="gpuInput">Placa de Vídeo: <span id="gpuStatus"></span></label>
                            <input class="mb-config d-block" id="gpuInput" type="text">
                            <select class="form-select d-none" name="gpuSelect" aria-label="select">
                                <option value="" disabled selected hidden>Clique para selecionar</option>
                                <optgroup label="Terceiro Andar">
                                    <option value="301"> 301 </option>
                                </optgroup>    
                                <optgroup label="Quarto Andar">
                                    <option value="401"> 401 </option>
                                </optgroup>
                            </select>
                            <div class="btnBox">
                                <label class="material-symbols-outlined"><a href="#" id="btnAddGpu">add</a></label>
                                <label class="material-symbols-outlined"><a href="#" id="btnEditGpu">edit</a></label>
                                <label class="material-symbols-outlined"><a href="#" id="btnDeleteGpu">delete</a></label>
                            </div>
                        </div>
                        <div class="config">
                            <label class="mb-config d-block" for="psuInput">Fonte: <span id="psuStatus"></span></label>
                            <input class="mb-config d-block" id="psuInput" type="text">
                            <select class="form-select d-none" name="psuSelect" aria-label="select">
                                <option value="" disabled selected hidden>Clique para selecionar</option>
                                <optgroup label="Terceiro Andar">
                                    <option value="301"> 301 </option>
                                </optgroup>    
                                <optgroup label="Quarto Andar">
                                    <option value="401"> 401 </option>
                                </optgroup>
                            </select>
                            <div class="btnBox">
                                <label class="material-symbols-outlined"><a href="#" id="btnAddPsu">add</a></label>
                                <label class="material-symbols-outlined"><a href="#" id="btnEditPsu">edit</a></label>
                                <label class="material-symbols-outlined"><a href="#" id="btnDeletePsu">delete</a></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layoutContent">
            <div class="wrapper_layoutComputers active">
                <div class="h2_layoutComputers">
                    <h2 class="">Escolha o slot</h2>
                </div>
                <div class="layout_computers_edit"> <!-- LAYOUT DOS COMPUTADORES -->
            {% for slot in room_layout %}                            
                {% if slot['id'] != 5 and slot['id'] != 11 %} 
                    {% set slot_num = slot['name'].split('_')[1] if slot['general_status'] != '#' and slot['general_status'] != -2 %}
                    {% if slot['general_status'] != '#' and slot['general_status'] >= 0 %} <!-- SLOT COMUM --> 
                        <div class="wrapperSlot slot{{slot_num}}">
                            <input type="radio" class="btn-check" name="slotComputerEdit" id="{{slot['id']}}" onclick="fillSidebar()" autocomplete="off" value="{{slot_num}}">
                        {% set color_num = slot['general_status'] %}
                        {% if color_num == 0 %}
                            <label class="btn btn-outline-dark" for="{{slot['id']}}">
                        {% elif color_num == 1 %}
                            <label class="btn btn-outline-warning" for="{{slot['id']}}">
                        {% elif color_num >= 2 %}
                            <label class="btn btn-outline-danger" for="{{slot['id']}}">
                        {% endif %}
                                <a>{{slot_num}}</a>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
                                    <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
                                </svg>
                            </label>
                        </div>
                    {% elif slot['general_status'] == '#' or slot['general_status'] == -2 %} <!-- SLOT VAZIO POR PADRÃO -->
                        <div style="visibility: hidden;"></div>
                    {% elif slot['general_status'] == -1 %} <!-- SLOT QUE FOI APAGADO -->
                            <div class="wrapperSlot slot{{slot_num}}">
                                <input type="radio" class="btn-check" name="slotComputerEdit" id="{{slot['id']}}" onclick="fillSidebar()" autocomplete="off" value="{{slot_num}}">
                                <label class="btn btn-outline-dark" for="{{slot['id']}}">
                                    <a>{{slot_num}}</a>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                    </svg>
                                </label>
                            </div>
                    {% endif %}
                {% elif slot['id'] == 5 %} <!-- SLOT PROFESSOR -->                                                                      
                    <div class="wrapperSlot slot{{slot['name'].split('_')[1]}}">   
                        <input type="radio" class="btn-check" name="slotComputerEdit" id="{{slot['id']}}" onclick="fillSidebar()" autocomplete="off" value="Professor">    
                    {% set prof_color_num = slot['general_status'] %}                                          
                    {% if prof_color_num <= 0 %}
                        <label class="btn btn-outline-dark" for="{{slot['id']}}">
                    {% elif prof_color_num == 1 %}
                        <label class="btn btn-outline-warning" for="{{slot['id']}}">
                    {% elif prof_color_num >= 2 %}
                        <label class="btn btn-outline-danger" for="{{slot['id']}}">
                    {% endif %}
                            <a>Prof.</a>
                        {% if prof_color_num >= 0 %}
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="prof bi bi-pc-display-horizontal" viewBox="0 0 16 16">
                                <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
                            </svg>
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                            </svg>
                        {% endif %}
                        </label>
                    </div>
                {% elif slot['id'] == 11 %} <!-- SLOT PORTA -->
                    <div class="wrapperSlot">
                        <label style="display: flex;">
                            <svg style="width: 100%; height: auto; margin:auto;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
                                <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/> <!-- MAÇANETA DA PORTA -->
                                <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/> <!-- PORTA -->
                            </svg>
                        </label>
                    </div>
                {% endif %}                                
            {% endfor %}                
                </div>
            </div>
        </div>
        <div class="captionContent">
            <h1>LEGENDA</h1>
        </div>
    </div>
    <script type="text/javascript">
   
        sessionStorage.setItem('table_dict', JSON.stringify({{table_dict|safe}}));

        function fillSidebar() {

            var id = document.activeElement.id;

            /* var last_alteration = JSON.parse(window.sessionStorage.getItem("table_dict"))[id]['last_alteration'];
            var name = JSON.parse(window.sessionStorage.getItem("table_dict"))[id]['name'];
            var general_status = JSON.parse(window.sessionStorage.getItem("table_dict"))[id]['general_status']; */

            var monitor_config = JSON.parse(window.sessionStorage.getItem("table_dict"))[id]['monitor_config'];
            var monitor_status = JSON.parse(window.sessionStorage.getItem("table_dict"))[id]['monitor_status'];
            var case_config = JSON.parse(window.sessionStorage.getItem("table_dict"))[id]['case_config'];
            var case_status = JSON.parse(window.sessionStorage.getItem("table_dict"))[id]['case_status'];
            var keyboard_config = JSON.parse(window.sessionStorage.getItem("table_dict"))[id]['keyboard_config'];
            var keyboard_status = JSON.parse(window.sessionStorage.getItem("table_dict"))[id]['keyboard_status'];
            var mouse_config = JSON.parse(window.sessionStorage.getItem("table_dict"))[id]['mouse_config'];
            var mouse_status = JSON.parse(window.sessionStorage.getItem("table_dict"))[id]['mouse_status'];
            var os_config = JSON.parse(window.sessionStorage.getItem("table_dict"))[id]['os_config'];
            var os_status = JSON.parse(window.sessionStorage.getItem("table_dict"))[id]['os_status'];
            var network_config = JSON.parse(window.sessionStorage.getItem("table_dict"))[id]['network_config'];
            var network_status = JSON.parse(window.sessionStorage.getItem("table_dict"))[id]['network_status'];
            var motherboard_config = JSON.parse(window.sessionStorage.getItem("table_dict"))[id]['motherboard_config'];
            var motherboard_status = JSON.parse(window.sessionStorage.getItem("table_dict"))[id]['motherboard_status'];
            var cpu_config = JSON.parse(window.sessionStorage.getItem("table_dict"))[id]['cpu_config'];
            var cpu_status = JSON.parse(window.sessionStorage.getItem("table_dict"))[id]['cpu_status'];
            var memory_config = JSON.parse(window.sessionStorage.getItem("table_dict"))[id]['memory_config'];
            var memory_status = JSON.parse(window.sessionStorage.getItem("table_dict"))[id]['memory_status'];
            var storage_config = JSON.parse(window.sessionStorage.getItem("table_dict"))[id]['storage_config'];
            var storage_status = JSON.parse(window.sessionStorage.getItem("table_dict"))[id]['storage_status'];
            var gpu_config = JSON.parse(window.sessionStorage.getItem("table_dict"))[id]['gpu_config'];
            var gpu_status = JSON.parse(window.sessionStorage.getItem("table_dict"))[id]['gpu_status'];
            var psu_config = JSON.parse(window.sessionStorage.getItem("table_dict"))[id]['psu_config'];
            var psu_status = JSON.parse(window.sessionStorage.getItem("table_dict"))[id]['psu_status'];

            /* var last_alteration = document.getElementById("last_alteration");
            var name = document.getElementById("name");
            var general_status = document.getElementById("general_status"); */

            var monitorInput = document.getElementById("monitorInput");
            var monitorStatus = document.getElementById("monitorStatus");
            var caseInput = document.getElementById("caseInput");
            var caseStatus = document.getElementById("caseStatus");
            var keyboardInput = document.getElementById("keyboardInput");
            var keyboardStatus = document.getElementById("keyboardStatus");
            var mouseInput = document.getElementById("mouseInput");
            var mouseStatus = document.getElementById("mouseStatus");
            var osInput = document.getElementById("osInput");
            var osStatus = document.getElementById("osStatus");
            var networkInput = document.getElementById("networkInput");
            var networkStatus = document.getElementById("networkStatus");
            var motherboardInput = document.getElementById("motherboardInput");
            var motherboardStatus = document.getElementById("motherboardStatus");
            var cpuInput = document.getElementById("cpuInput");
            var cpuStatus = document.getElementById("cpuStatus");
            var memoryInput = document.getElementById("memoryInput");
            var memoryStatus = document.getElementById("memoryStatus");
            var storageInput = document.getElementById("storageInput");
            var storageStatus = document.getElementById("storageStatus");
            var gpuInput = document.getElementById("gpuInput");
            var gpuStatus = document.getElementById("gpuStatus");
            var psuInput = document.getElementById("psuInput");
            var psuStatus = document.getElementById("psuStatus");

            var btnAddMonitor = document.getElementById("btnAddMonitor");
            var btnEditMonitor = document.getElementById("btnEditMonitor");
            var btnDeleteMonitor = document.getElementById("btnDeleteMonitor");
            var btnAddCase = document.getElementById("btnAddCase");
            var btnEditCase = document.getElementById("btnEditCase");
            var btnDeleteCase = document.getElementById("btnDeleteCase");
            var btnAddKeyboard = document.getElementById("btnAddKeyboard");
            var btnEditKeyboard = document.getElementById("btnEditKeyboard");
            var btnDeleteKeyboard = document.getElementById("btnDeleteKeyboard");
            var btnAddMouse = document.getElementById("btnAddMouse");
            var btnEditMouse = document.getElementById("btnEditMouse");
            var btnDeleteMouse = document.getElementById("btnDeleteMouse");
            var btnAddOs = document.getElementById("btnAddOs");
            var btnEditOs = document.getElementById("btnEditOs");
            var btnDeleteOs = document.getElementById("btnDeleteOs");
            var btnAddNetwork = document.getElementById("btnAddNetwork");
            var btnEditNetwork = document.getElementById("btnEditNetwork");
            var btnDeleteNetwork = document.getElementById("btnDeleteNetwork");
            var btnAddMotherboard = document.getElementById("btnAddMotherboard");
            var btnEditMotherboard = document.getElementById("btnEditMotherboard");
            var btnDeleteMotherboard = document.getElementById("btnDeleteMotherboard");
            var btnAddCpu = document.getElementById("btnAddCpu");
            var btnEditCpu = document.getElementById("btnEditCpu");
            var btnDeleteCpu = document.getElementById("btnDeleteCpu");
            var btnAddMemory = document.getElementById("btnAddMemory");
            var btnEditMemory = document.getElementById("btnEditMemory");
            var btnDeleteMemory = document.getElementById("btnDeleteMemory");
            var btnAddStorage = document.getElementById("btnAddStorage");
            var btnEditStorage = document.getElementById("btnEditStorage");
            var btnDeleteStorage = document.getElementById("btnDeleteStorage");
            var btnAddGpu = document.getElementById("btnAddGpu");
            var btnEditGpu = document.getElementById("btnEditGpu");
            var btnDeleteGpu = document.getElementById("btnDeleteGpu");
            var btnAddPsu = document.getElementById("btnAddPsu");
            var btnEditPsu = document.getElementById("btnEditPsu");
            var btnDeletePsu = document.getElementById("btnDeletePsu");

            monitorInput.value = monitor_config;
            caseInput.value = case_config;
            keyboardInput.value = keyboard_config;
            mouseInput.value = mouse_config;
            osInput.value = os_config;
            networkInput.value = network_config;
            motherboardInput.value = motherboard_config;
            cpuInput.value = cpu_config;
            memoryInput.value = memory_config;
            storageInput.value = storage_config;
            gpuInput.value = gpu_config;
            psuInput.value = psu_config;

            monitorStatus.innerHTML = monitor_status;
            caseStatus.innerHTML = case_status;
            keyboardStatus.innerHTML = keyboard_status;
            mouseStatus.innerHTML = mouse_status;
            osStatus.innerHTML = os_status;
            networkStatus.innerHTML = network_status;
            motherboardStatus.innerHTML = motherboard_status;
            cpuStatus.innerHTML = cpu_status;
            memoryStatus.innerHTML = memory_status;
            storageStatus.innerHTML = storage_status;
            gpuStatus.innerHTML = gpu_status;
            psuStatus.innerHTML = psu_status;

            if (general_status >= 0) {
                
                btnAddMonitor.disabled = true;
                btnAddCase.disabled = true;
                btnAddKeyboard.disabled = true;
                btnAddMouse.disabled = true;
                btnAddOs.disabled = true;
                btnAddNetwork.disabled = true;
                btnAddMotherboard.disabled = true;
                btnAddCpu.disabled = true;
                btnAddMemory.disabled = true;
                btnAddStorage.disabled = true;
                btnAddGpu.disabled = true;
                btnAddPsu.disabled = true;

                btnEditMonitor.disabled = false;
                btnDeleteMonitor.disabled = false;
                btnEditCase.disabled = false;
                btnDeleteCase.disabled = false;
                btnEditKeyboard.disabled = false;
                btnDeleteKeyboard.disabled = false;
                btnEditMouse.disabled = false;
                btnDeleteMouse.disabled = false;
                btnEditOs.disabled = false;
                btnDeleteOs.disabled = false;
                btnEditNetwork.disabled = false;
                btnDeleteNetwork.disabled = false;
                btnEditMotherboard.disabled = false;
                btnDeleteMotherboard.disabled = false;
                btnEditCpu.disabled = false;
                btnDeleteCpu.disabled = false;
                btnEditMemory.disabled = false;
                btnDeleteMemory.disabled = false;
                btnEditStorage.disabled = false;
                btnDeleteStorage.disabled = false;
                btnEditGpu.disabled = false;
                btnDeleteGpu.disabled = false;
                btnEditPsu.disabled = false;
                btnDeletePsu.disabled = false;

            } else if (general_status == -1) {

                btnAddMonitor.disabled = false;
                btnAddCase.disabled = false;
                btnAddKeyboard.disabled = false;
                btnAddMouse.disabled = false;
                btnAddOs.disabled = false;
                btnAddNetwork.disabled = false;
                btnAddMotherboard.disabled = false;
                btnAddCpu.disabled = false;
                btnAddMemory.disabled = false;
                btnAddStorage.disabled = false;
                btnAddGpu.disabled = false;
                btnAddPsu.disabled = false;

                btnEditMonitor.disabled = true;
                btnDeleteMonitor.disabled = true;
                btnEditCase.disabled = true;
                btnDeleteCase.disabled = true;
                btnEditKeyboard.disabled = true;
                btnDeleteKeyboard.disabled = true;
                btnEditMouse.disabled = true;
                btnDeleteMouse.disabled = true;
                btnEditOs.disabled = true;
                btnDeleteOs.disabled = true;
                btnEditNetwork.disabled = true;
                btnDeleteNetwork.disabled = true;
                btnEditMotherboard.disabled = true;
                btnDeleteMotherboard.disabled = true;
                btnEditCpu.disabled = true;
                btnDeleteCpu.disabled = true;
                btnEditMemory.disabled = true;
                btnDeleteMemory.disabled = true;
                btnEditStorage.disabled = true;
                btnDeleteStorage.disabled = true;
                btnEditGpu.disabled = true;
                btnDeleteGpu.disabled = true;
                btnEditPsu.disabled = true;
                btnDeletePsu.disabled = true;

            };

            }
    </script>
{% endblock %}