{% extends 'base.html' %}
{% block title %} Perguntas frequentes {% endblock %}
{% block styles_faq %}
    <link rel="apple-touch-icon" href="/docs/5.2/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico">
    <link rel="stylesheet" href="../static/js/scripts.js">
{% endblock %}
{% block conteudo %}
    <main id="mainfaq">
        <aside id="sidebarfaq">
          <div id="titlesidebar">
            <a href="faq" style="text-decoration: none; color: black;">FAQ's Alpha</a>
          </div>
          <hr id="hrfaq">
            <div id="navbarfaq">
              <ul class="list-unstyled ps-0">
                <li class="mb-1 lisidebarfaq">
                  <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                    Problemas de Hardware
                  </button>
                  <div class="collapse" id="home-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                      <li><a href="#" onclick="onClickSidebar()" id="hardware-1" class="link-dark d-inline-flex text-decoration-none rounded asidebarfaq" >Monitor</a></li>
                      <li><a href="#" onclick="onClickSidebar()" id="hardware-2" class="link-dark d-inline-flex text-decoration-none rounded asidebarfaq">Mouse</a></li>
                      <li><a href="#" onclick="onClickSidebar()" id="hardware-3" class="link-dark d-inline-flex text-decoration-none rounded asidebarfaq">Teclado</a></li>
                    </ul>
                  </div>
                </li>
                <li class="mb-1 lisidebarfaq">
                  <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                    Problemas na Rede
                  </button>
                  <div class="collapse" id="dashboard-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                      <li><a href="#" onclick="onClickSidebar()" id="rede-7" class="link-dark d-inline-flex text-decoration-none rounded asidebarfaq">Modem</a></li>
                      <li><a href="#" onclick="onClickSidebar()" id="rede-8" class="link-dark d-inline-flex text-decoration-none rounded asidebarfaq">Conexão</a></li>
                    </ul>  
                  </div>
                </li>
                <li class="mb-1 lisidebarfaq">
                  <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                    Problemas no Software
                  </button>
                  <div class="collapse" id="orders-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                      <li><a href="#" onclick="onClickSidebar()" id="software-4" class="link-dark d-inline-flex text-decoration-none rounded asidebarfaq">Aplicativos</a></li>
                      <li><a href="#" onclick="onClickSidebar()" id="software-5" class="link-dark d-inline-flex text-decoration-none rounded asidebarfaq">Sistema Operacional</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
        </aside>
        <section id="contentfaq">
            <div class="default active" style="display: flex; margin-top: 6em; margin-left: 2em; width: 80%; justify-content: center;">
                <div class="articles">
                  <div class="contentprincipal">
                    <div class="articlesTitle">
                      <h1 class="" dir="auto" id="titlefaq">Artigos mais visitados</h1>
                    </div>
                    <div class="problemcontent">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                      </svg>
                      <span class="" dir="auto"><a class="afaq" href="#" onclick="onClickSidebar()" id="hardware-1" role="link" tabindex="0">Problemas no monitor</a></span>
                    </div>
                    <div class="problemcontent">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                      </svg>
                      <span class="" dir="auto"><a class="afaq" href="#" onclick="onClickSidebar()" id="rede-7" role="link" tabindex="0">Problemas no modem</a></span>
                    </div>
                    <div class="problemcontent">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                      </svg>
                      <span class="" dir="auto"><a class="afaq" href="#" onclick="onClickSidebar()" id="rede-8" role="link" tabindex="0">Problemas na conexão</a></span>
                    </div>
                    <div class="problemcontent">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                      </svg>
                      <span class="" dir="auto"><a class="afaq" href="#" onclick="onClickSidebar()" id="software-4" role="link" tabindex="0">Problemas no aplicativo</a></span>
                    </div>
                    <div class="problemcontent">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                      </svg>
                      <span class="" dir="auto"><a class="afaq" href="#" onclick="onClickSidebar()" id="hardware-2" role="link" tabindex="0">Problemas no mouse</a></span>
                    </div>
                  </div>
                </div>
                <div class="imgfaq">
                  <img src="../static/img/desktopfaq.jpg" alt="desktops">
                </div>
            </div>
            <div class="categoria-1" id="categorias">
                  <div class="hardware-1" id="problemsolucion" style="display: none;">
                    <h2 class="h2faq">Problemas no Monitor:</h2>
                    <p class="contentfaq">
                      Em muitos dos casos este problema está relacionado aos cabos de conexão, aconselhamos que verifique se o cabo está plugado corretamente, caso não funcione <a href="create_request" class="chamadofaq">abra um chamado</a>.
                    </p>
                  </div>
                  <div class="hardware-2" id="problemsolucion" style="display: none;">
                    <h2 class="h2faq">Problemas no Mouse:</h2>
                    <p class="contentfaq">
                      Geralmente os problemas de hardware estão ligados aos cabos de conexão, instruimos que verifique se os cabos estão devidamente plugados, se o problema persistir <a href="create_request" class="chamadofaq">abra um chamado</a>.
                    </p>
                  </div>
                  <div class="hardware-3" id="problemsolucion" style="display: none;">
                    <h2 class="h2faq">Problemas no Teclado:</h2>
                    <p class="contentfaq">
                      Assim como os outros hardwares o problemas do teclado também estáo relacionados aos cabos de conexão, aconselhamos que verifique se o cabo está plugado corretamente, caso não funcione <a href="create_request" class="chamadofaq">abra um chamado</a>.
                    </p> 
                    </p>
                  </div>
            </div>        
            <div class="categoria-2" id="categorias">
                  <div class="software-4" id="problemsolucion" style="display: none;">
                    <h2 class="h2faq">Problemas no Aplicativo:</h2>
                    <p class="contentfaq">
                      Os problemas nos apps geralmente são gerados pelas configurações equivocadas dos usuarios, tente reinicias o dispositivo, caso não funcione <a href="create_request" class="chamadofaq">abra um chamado</a> e aguarde a visita do técnico.
                    </p>
                  </div>
                  <div class="software-5" id="problemsolucion" style="display: none;">
                    <h2 class="h2faq">Problemas no sistema Operacional:</h2>
                    <p class="contentfaq">
                      Os problemas no sistema operacional são mais complexos, por isso intriumos que <a href="create_request" class="chamadofaq">abra um chamado</a> e aguarde a visita do técnico para que não haja problemas graves no software da máquina.
                    </p>
                  </div>
            </div>                
            <div class="categoria-3" id="categorias">
                  <div class="rede-7" id="problemsolucion" style="display: none;">
                    <h2 class="h2faq">Problemas no Modem:</h2>
                    <p class="contentfaq">
                      No caso de problemas no modem pedimos que verifique se os cabos estão plugados corretamente e tente desligar e ligar o modem, isso deve eliminar falhas e bugs temporários da conexão, forçando o dispositivo a se reconectar do zero, caso não funcione caso não funcione <a href="create_request" class="chamadofaq">abra um chamado</a> e aguarde a visita do técnico.
                    </p>
                  </div>
                  <div class="rede-8" id="problemsolucion" style="display: none;">
                    <h2 class="h2faq">Problemas na Conexão:</h2>
                    <p class="contentfaq">
                      A conexão pode estar fraca ou não ter acesso devido ao grande tráfico de pessoas na rede ou também problemas nos dispositivos da estrutura de rede, pedimos que <a href="create_request" class="chamadofaq">abra um chamado</a> e aguarde a visita do técnico.
                    </p>
                  </div>
            </div>
        </section>
    </main>
    <script type="text/javascript">

      function onClickSidebar() {
  
          var activeProblem = document.querySelector('.active');
          var chosedProblem = document.activeElement.id;
  
          activeProblem.classList.remove('active'); 
          activeProblem.style.display = 'none';
  
          document.querySelector('.'+chosedProblem).style.display = 'block';
          document.querySelector('.'+chosedProblem).classList.add('active'); /* animation */                
  
      };
  
  </script>

{% endblock %}