{% extends 'base.html' %}
{% block title %} Perguntas Frequentes {% endblock %}
{% block styles_faq %}
    <link rel="stylesheet" href="../static/css/sidebar_faq.css">
    <link rel="apple-touch-icon" href="/docs/5.2/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico">
    <link rel="stylesheet" href="../static/js/scripts.js">
{% endblock %}
{% block conteudo %}
        <!-- <a href="javascript:someFunction()">LINK</a> -->
        <!-- <a href="#" onclick="someFunction(); return false;">LINK</a> -->
        <section class="sectionFaq">
            <div class="sidebarFaq flex-shrink-0 p-3 bg-white" style="width: 280px; height: 100%; background: rgb(201, 201, 201) !important;">
                <a href="/faq" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                  <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                  <span class="fs-5 fw-semibold">FAQ's Alpha</span>
                </a>
                <ul class="list-unstyled ps-0">
                  <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                      Problemas de Hardware
                    </button>
                    <div class="collapse" id="home-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" onclick="onClickSidebar()" id="hardware-1" class="link-dark d-inline-flex text-decoration-none rounded">Monitor</a></li>
                        <li><a href="#" onclick="onClickSidebar()" id="hardware-2" class="link-dark d-inline-flex text-decoration-none rounded">Mouse</a></li>
                        <li><a href="#" onclick="onClickSidebar()" id="hardware-3" class="link-dark d-inline-flex text-decoration-none rounded">Teclado</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                      Problemas na Rede
                    </button>
                    <div class="collapse" id="dashboard-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" onclick="onClickSidebar()" id="rede-7" class="link-dark d-inline-flex text-decoration-none rounded">Modem</a></li>
                        <li><a href="#" onclick="onClickSidebar()" id="rede-8" class="link-dark d-inline-flex text-decoration-none rounded">Conexão</a></li>
                      </ul>  
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                      Problemas no Software
                    </button>
                    <div class="collapse" id="orders-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" onclick="onClickSidebar()" id="software-4" class="link-dark d-inline-flex text-decoration-none rounded">Aplicativos</a></li>
                        <li><a href="#" onclick="onClickSidebar()" id="software-5" class="link-dark d-inline-flex text-decoration-none rounded">Sistema Operacional</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
            </div>
            <div class="content">
              <div class="default active" style="height: auto; width: max-content; margin: 3rem auto 0;">
                  <div class="title">
                      <h1 class="" dir="auto">Como podemos ajudar?</h1>
                  </div>
                  <div class="search" style="height:7rem;">
                      <div class="">
                          <label class="">
                              <div class="">
                                  <i data-visualcompletion="css-img" class="" style="background-image:url('https://static.whatsapp.net/rsrc.php/v3/yC/r/Co4DI2hUmaK.png');background-position:0 -125px;background-size:auto;width:24px;height:24px;background-repeat:no-repeat;display:inline-block"></i>
                              </div>
                              <input dir="ltr" aria-autocomplete="list" aria-expanded="false" aria-label="Artigos sugeridos" role="combobox" autocomplete="off" placeholder="Pesquisar artigos de ajuda..." spellcheck="false" class="" type="search" value="">
                          </label>
                      </div>
                  </div>
                  <div class="articles">
                      <div class="" style="display: flex; gap:2rem;">
                          <div>
                              <div class="articlesTitle">
                                  <h2 class="" dir="auto">Artigos mais lidos</h2>
                              </div>
                              <div class="chamadasVideo">
                                  <span class="" dir="auto"><a class="" href="/1862285217468140/?helpref=topq" role="link" tabindex="0">Como fazer chamadas de vídeo</a></span>
                              </div>
                              <div class="segurancaWhatsApp">
                                  <span class="" dir="auto"><a class="" href="/1313491802751163/?helpref=topq" role="link" tabindex="0">Como manter a segurança no WhatsApp</a></span>
                              </div>
                              <div class="banimentoTemporario">
                                  <span class="" dir="auto"><a class="" href="/1848531392146538/?helpref=topq" role="link" tabindex="0">Sobre contas temporariamente banidas</a></span>
                              </div>
                              <div class="loginDuasEtapas">
                                  <span class="" dir="auto"><a class="" href="/1278661612895630/?helpref=topq" role="link" tabindex="0">Sobre a confirmação em duas etapas</a></span>
                              </div>
                              <div class="historicoConversas">
                                  <span class="" dir="auto"><a class="" href="/618575946635920/?helpref=topq" role="link" tabindex="0">Como restaurar seu histórico de conversas</a></span>
                              </div>
                              <div class="codigoConfirmacao">
                                  <span class="" dir="auto"><a class="" href="/479314433984258/?helpref=topq" role="link" tabindex="0">Por que recebi um código de confirmação sem solicitá-lo?</a></span>
                              </div>
                          </div>
                          <div class="exampleImgWhatsApp" style="display: flex; ">
                              <i data-visualcompletion="css-img" aria-label="Produtos do WhatsApp em diversos aparelhos" class="" role="img" style="background-image:url('https://static.whatsapp.net/rsrc.php/v3/yF/r/x5EbXYKsyRa.png'); background-position:0 0; background-size:auto; width:380px; height:268px; background-repeat:no-repeat; display:inline-block; margin: 1rem 0 0;"></i>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="categoria-1">
                  <div class="hardware-1" id="problem" style="display: none;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, similique laborum adipisci nemo fugit fugiat alias perspiciatis ullam? Voluptatem enim laborum quo cupiditate at minus quas voluptatum distinctio dolores dolorum.</div>
                  <div class="hardware-2" id="problem" style="display: none;"><h1>DIV 2</h1></div>
                  <div class="hardware-3" id="problem" style="display: none;"><h1>div 3 teste</h1></div>
              </div>        
              <div class="categoria-2">
                  <div class="software-4" id="problem" style="display: none;"><h1>div4444</h1></div>
                  <div class="software-5" id="problem" style="display: none;"><h1>D 5</h1></div>
                  <div class="software-6" id="problem" style="display: none;"><h1>div 666</h1></div>
              </div>                
              <div class="categoria-3">
                  <div class="rede-7" id="problem" style="display: none;"><h1>d77</h1></div>
                  <div class="rede-8" id="problem" style="display: none;"><h1>DIV 88</h1></div>
              </div>
          </div>
            <script type="text/javascript">

              function onClickSidebar() {
          
                  var activeProblem = document.querySelector('.active');
                  var chosedProblem = document.activeElement.id;
          
                  activeProblem.classList.remove('active'); 
                  activeProblem.style.display = 'none';
          
                  document.querySelector('.'+chosedProblem).style.display = 'block';
                  document.querySelector('.'+chosedProblem).classList.add('active'); /* animation */                
          
              };
          
          </script>
        </section>
{% endblock %}