{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block conteudo %}
        <section class="sectionHome">
            <div class="capa_wrapper">
                <div class="img_home">
                    <img src="../static/img/capa-home.jpg" alt="capa">
                </div>
                <div class="text_img_home">
                    <div class="textReport">
                        <h3><strong>Problemas nos computadores?<br>Reporte agora mesmo</strong></h3>
                    </div>
                    <div class="btn_home">
                        <form action="{{ url_for('create_request') }}" method="post">
                            <button type="submit" class="btn btn-primary btn-lg">Obter suporte</button>
                        </form>
                    </div>   
                </div>        
            </div>    
        </section> 
{% endblock %}