<!-- AG GRID -->

<!DOCTYPE html>
<html lang="en">
<head>
<title>JavaScript example</title>
<meta charSet="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<style media="only screen">
    html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    }

    html {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    overflow: auto;
    }

    body {
    padding: 1rem;
    overflow: auto;
    }
</style>
<link rel="stylesheet" href="../static/css/styles.css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js">
</script>
</head>
<body>
    <div class="outer ag-theme-alpine">
        <div id="eLeftGrid" style="height: 100%" class="inner-col" ondragover="gridDragOver(event)" ondrop="gridDrop(event,'left')">
        </div> <!-- COLUNA DA ESQUERDA -->
        <div class="inner-col factory-panel"> <!-- COLUNA CENTRAL -->
            <span id="eBin" ondragover="binDragOver(event)" ondrop="binDrop(event)" class="factory factory-bin">
                <i class="far fa-trash-alt" style="background: pink;">
                    <span class="filename"> Trash - </span>
                </i>
                Drop target to destroy row
            </span>
            <span draggable="true" ondragstart="dragStart(event,'Red')" class="factory factory-red">
                <i class="far fa-plus-square">
                    <span class="filename"> Create - </span>
                </i>
                Drag source for new red item
            </span>
            <span draggable="true" ondragstart="dragStart(event,'Green')" class="factory factory-green">
                <i class="far fa-plus-square">
                    <span class="filename"> Create - </span>
                </i>
                Drag source for new green item
            </span>
            <span draggable="true" ondragstart="dragStart(event,'Blue')" class="factory factory-blue">
                <i class="far fa-plus-square">
                    <span class="filename"> Create - </span>
                </i>
                Drag source for new blue item
            </span>
        </div>
        <div id="eRightGrid" style="height: 100%" class="inner-col" ondragover="gridDragOver(event)" ondrop="gridDrop(event,'right')">
        </div> <!-- COLUNA DA DIREITA -->
    </div>
    <script>var __basePath = './';</script>
    <script src="https://unpkg.com/ag-grid-community@28.1.1/dist/ag-grid-community.min.js">
    </script>
    <script src="../static/js/main.js">
    </script>
</body>
<link rel="stylesheet" href="../static/css/styles.css"/>
</html>