
html, body {  
    height: 100%;  
  }
  
  body {  
    font-size:1.2rem;
    font-family: Arial, Helvetica, sans-serif;    
    background: orange;
    margin: 0px;
    padding: 0px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: green;  
    height: 15%;
    margin: 0px;
    padding: 0px 20px;
  }
  
  section {  
    display: grid;
    height: 85%; 
    grid-template-rows: 10% 75% 15%;
    width: 70%;
    margin: 0px auto;
    padding: 0px;
  }
  
  .etapas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: violet;
    margin: 0px;
    padding: 0px 20px;
  }
  
  .conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: red;
    margin: 0px;
    padding: 0px 20px;
  }
  
  .botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: yellow;
    margin: 0px;
    padding: 0px 20px;
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: gray;  
    height: 30%;
    margin: 0px;
    padding: 0px 20px;
  }